<a href="https://colab.research.google.com/github/yleessam/start/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%8B%9C%EC%9E%91%EC%9D%98_%EB%B0%B0%ED%8F%AC_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 조건문 if

조건에 따라 다른 처리를 할 수 있어요

![image.png]()

## 실습. 더울때 아아
기온이 0ºC보다 높으면 ‘아이스 아메리카노’를 출력하는 프로그램을 만들어 보세요.

In [ ]:
#온도
today_temp = 30

if today_temp > 0:
    print("아이스 아메리카노")

## 미션. 쿠키상자

줄지 않는 쿠키   
엘리스 토끼가 쿠키 상자를 발견했어요.       
5개를 집어 먹었는데, 이게 웬일일까요! 쿠키 5개가 그대로 남아 있군요!   

파이썬의 if문을 이용해서 먹은 쿠키의 개수만큼 다시 쿠키가 생기는 상자를 만들어 봐요.

입력값으로 음수가 입력되면 양수로 바꿔서 출력해주는 코드를 만들어 주세요.

Tips
새로 생긴 쿠키의 개수는 먹은 개수만큼 생겨야 해요!
만약 -5를 입력한다면, 새로 생긴 쿠키의 개수는 5개가 되겠죠?

> 정답 (예시)

```
# 변수 cookie를 선언하고, input()을 이용해서 먹은 쿠키의 개수를 입력받습니다.
cookie = int(input())

# if문을 이용해서 cookie가 음수면 -1을 곱해 다시 cookie에 저장해 봅시다.
new_cookie = 0
if cookie < 0:
    new_cookie = cookie*-1

# cookie의 개수가 몇 개인지 출력합니다.
print('새로 생킨 쿠키의 개수 :', new_cookie)
```

In [ ]:
#원래 쿠키
cookie = 5
# input()으로 숫자를 입력받아 변수 cookie에 저장해요.
eat_cookie = int(input())

new_cookie = cookie-eat_cookie
# 아래 ? 부분에 조건문을 작성하여 코드를 완성해 주세요.
# 쿠키의 개수가 음수라면 양수로 바꿀 수 있도록 조건문을 수정해 주세요.
if new_cookie<0 :
    new_cookie = new_cookie * -1 # 음수를 양수로 바꿔요.

# cookie의 개수가 몇 개인지 확인해 보세요.
print('새로 생킨 쿠키의 개수 :', new_cookie)

8
새로 생킨 쿠키의 개수 : 3

## 두번째 조건 else
기온이 0ºC보다 높으면 ‘아이스 아메리카노’를 출력하고, 그렇지 않은 경우에는 ‘따뜻한 아메리카노’를 출력하는 프로그램을 만들어 보세요.

In [ ]:
today_temp = 30

if today_temp > 0:
    print("아이스 아메리카노")
else:
    print("따뜻한 아메리카노")

## 세번째 조건 elif

기온이 0ºC보다 높으면 ‘아이스 아메리카노’, 기온이 0ºC이면 ‘미지근한 아메리카노’, 나머지 경우에는 ‘따뜻한 아메리카노’를 출력하는 프로그램을 만들어 보세요.

In [ ]:
today_temp = 30

if today_temp > 0:
    print("아이스 아메리카노")
elif today_temp == 0:
    print("미지근한 아메리카노")
else:
    print("따뜻한 아메리카노")

아이스 아메리카노

## 이중 if

조건이 2개면 if 도 2개 --> if 속에 if

날씨가 맑은 날인 경우,

> 기온이 0ºC보다 높으면 ‘아이스 아메리카노’,    
> 기온이 0ºC이면 ‘미지근한 아메리카노’,    
> 나머지 경우에는 ‘따뜻한 아메리카노’를 출력하고   

날씨가 맑지 않은 경우,‘카푸치노’를 출력하는 프로그램을 만들어 보세요.

In [ ]:
weather = "비"
today_temp = 30

if weather == "맑음":
    if 0 < today_temp:
        print("아이스 아메리카노")
    elif 0 == today_temp:
        print("미지근한 아메리카노")
    else:
        print("따뜻한 아메리카노")
else:
    print("카푸치노")

카푸치노

## 미션. 홀짝 판별기
엘리스 토끼가 도도새와 함께 홀짝 게임을 하고 있어요!   
홀짝 게임은 주먹으로 동전을 집었을 때, 주먹에 있는 동전의 개수가 홀수인지, 짝수인지 맞히는 게임이에요.

if-else문을 이용해서 어떤 수를 입력했을 때 이 수가 홀수인지 짝수인지 판별하는 프로그램을 만들어 봅시다.

짝수인 경우에는 “짝수입니다.”를 출력해요.   
홀수인 경우에는 “홀수입니다.”를 출력해요.

```#정답 예시.
# 변수 num에 사용자로부터 입력받은 수가 저장돼요.
num = int(input())

# 조건이 참인 경우(짝수), 거짓인 경우(홀수)에 따라 적절한 실행 동작을 작성해 주세요.
if num % 2 == 0 : # 짝수인 경우
    print("짝수입니다.")
else : # 홀수인 경우
    print("홀수입니다.")
```

In [ ]:
# 변수 num에 사용자로부터 입력받은 수가 저장돼요.


# 조건이 참인 경우(짝수), 거짓인 경우(홀수)에 따라 적절한 실행 동작을 작성해 주세요.
if None : # 짝수인 경우
  print('짝')
else : # 홀수인 경우
  print('홀')

홀

## 실습. 업-다운 게임
토끼와 거북이가 업-다운 게임을 하고 있어요!

업다운 게임은 한 사람이 어떤 수를 생각하고, 다른 사람이 그 수를 알아맞히는 게임이에요. 알아맞히는 사람이 어떤 수를 말하면 숫자를 생각한 사람은 생각한 숫자보다 큰지 작은지 답변해야 해요.

if-elif-else문을 이용해서 업-다운 게임을 만들어 봅시다.

submit이 answer보다 큰 경우, 작은 경우, 같은 경우에 각각 주어진 메시지를 출력해 보세요.

In [ ]:
from random import randint

# 1~100 사이의 숫자가 랜덤으로 정답 숫자로 저장되요.
answer = randint(1, 100)

# input()으로 숫자를 입력 받아 변수 submit에 저장해 보세요.
submit = int(input())

# if-elif-else문으로 Up-Down Game을 구현해 보세요.
# 만약 answer보다 submit이 더 크면 "정답보다 큰 수를 입력했습니다."를,
# answer보다 submit이 더 작으면 "정답보다 작은 수를 입력했습니다."를,
# answer와 submit이 같으면 "정답!"을 출력해 보세요.

[학습활동]

문제 조건을 확인한 후 조건문 작성하기

조건1 : answer > submit
조건2 : answer < submit
조건3 : answer == submit
각 조건문 별 기능 작성하기

기능 작성 시, 콜론과 들여쓰기를 모두 잘 수행했는지 확인 필요
이 실습은 2가지 방법으로 조건문을 구상할 수 있습니다.

[방법1] if-elif-else 사용

[방법2] if-elif-elif 사용

📌 Tips

게임의 난이도를 조절하기 위해서는 4번째 줄의 숫자를 적절히 조절해 보세요.   

1에서 10 사이 숫자 선택 : randint(1, 10)   
5에서 10 사이 숫자 선택 : randint(5, 10)   
answer값과 submit값을 출력하여 업다운 게임의 결과가 적절한지 확인해 보세요.   

print("answer :", answer, "  submit :", submit)

## 실습. 내 용돈의 운명은?

이번 기말고사 시험성적에 따라 용돈의 운명이 바뀝니다. 엄마가 제시한 조건은 다음과 같습니다.

영어 90점 이상, 수학 90점 이상(두 조건 모두 만족) : 용돈 인상
영어 80점 이하, 수학 80점 이하(두 조건 모두 만족) : 용돈 삭감
기타 : 동결
수학성적과 영어성적을 담는 변수를 만들고, 점수에 따라 용돈의 운명을 출력하는 프로그램을 만들어 보세요.

In [ ]:
# 영어 90점 이상, 수학 90점 이상: 용돈 인상
# 영어 80점 이하, 수학 80점 이하: 용돈 삭감

math_score = 80
eng_score = 100

if eng_score >= 90 and math_score >= 90:
    print("YAY! 용돈 인상")
elif eng_score <= 80 and math_score <= 80:
    print("용돈 삭감 ㅠㅠ")
else:
    print("동결")

동결

## 미션. 용돈 협상

엄마가 제시한 조건은 달성하기 너무 힘들 것 같습니다. 아래와 같이 협상하려고 합니다.

영어 90점 이상 또는 수학 90점 이상 : 용돈 인상
영어 80점 이하 또는 수학 80점 이하 : 용돈 삭감
기타 : 동결
수학성적과 영어성적을 담는 변수를 만들고, 점수에 따라 용돈의 운명을 출력하는 프로그램을 만들어 보세요.

In [ ]:
# 영어 90점 이상 또는 수학 90점 이상: 용돈 인상
# 영어 80점 이하 또는 수학 80점 이하: 용돈 삭감

math_score = 80
eng_score = 100

if eng_score >= 90 or math_score >= 90:
    print("YAY! 용돈 인상")
elif eng_score <= 80 or math_score <= 80:
    print("용돈 삭감 ㅠㅠ")
else:
    print("동결")

In [ ]:
#나의 협상 결과를 코딩해 보세요

# 반복문
1. 횟수로 반복하기 for

2. 조건으로 반복하기 while

## 횟수로 반복하기 for
반복이 시작되기 전에 반복할 횟수를 정한다.   
정해진 횟수만큼만 반복한다.

## 실습. 열 마리 코끼리가 거미줄에 걸렸네

코끼리들이 거미줄 그네를 타려고 줄을 서 있습니다!
무거운 코끼리들 모두 일일이 그네 태우려면 너무 힘들겠군요.   
for문을 이용하여 빠르게 그네를 태워보세요.

```
#정답
nums = [1,2,3,4,5,6,7,8,9,10]   
for i in nums:
    print(i,"번째 코끼리가 거미줄에 걸렸네♪")
```

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
for i in nums:
    print(i,"번째 코끼리가 거미줄에 걸렸네♪")

## 실습.  1문제 더
1학년 2반 학생들의 시험 성적은 다음과 같습니다.

[80, 90, 70, 65, 85, 95, 90, 80, 75, 80]

시험 문제 중, 한 문제가 잘못 출제되어 모두 5점씩 추가 점수를 받도록 조치를 취했습니다.    
변경 후 점수를 출력하세요.

```#정답 예시

scores = [80, 90, 70, 65, 85, 95, 90, 80, 75, 80]
new_scores = []

for s in scores:
    new = s + 5
    new_scores.append(new)

print(new_scores)
```

In [ ]:
scores = [80, 90, 70, 65, 85, 95, 90, 80, 75, 80]
new_scores = []

# 모든 학생의 점수를 5점씩 늘려주세요

print(new_scores)

[]

## 리스트 컴프리헨션

리스트 속에서 if문과 for문이 결합한다


![image.png]()

In [ ]:
new_score2 = [s + 5 if s < 100 else s for s in scores ]
new_score2

## range로 만들기
일정한 범위의 정수들을 한번에 생성한다(규칙, 순서가 존재한다).

> range([from_value,] end_value [,step])

In [ ]:
range(1,100)

range(1, 100)

In [ ]:
myran = range(1,100)
list(myran)

In [ ]:
for i in range(10) :
    print("We Love Python")

##실습. 100을 세는 동안 꼭꼭 숨어라
코더랜드 동물 친구들이 숨바꼭질하고 있네요. 술래가 된 체셔가 외칩니다.   
100까지 센 다음 찾는다~!   
꾀쟁이 체셔는 반복문을 이용해서 100까지 한 번에 다 세 버린 다음 동물 친구들이 미처 숨기도 전에 찾으러 갈 속셈입니다.
100까지 세는 반복문을 작성해 보세요.

```#정답
for i in range(1, 101):
    print(i)
```

In [ ]:
# 반복문을 이용하여 1부터 100까지 한 줄에 하나씩 출력하는 코드를 작성해 보세요.

## 조건으로 반복하기 while

조건이 참인 동안에는 계속해서 반복한다.   
반복되는 문장 안에서 반복문을 빠져나갈 수 있도록 조건을 변경할 수 있는 문장이 있어야 한다.

> while 반복문 : True인 동안 반복한다. (False가 되면 반복에서 벗어남)

In [ ]:
while i<101:
  print(i)

NameError: ignored

In [ ]:
i = 0
while i<101:
  print(i)
  i=i+1

## 실습. 카운트 다운

어느덧 12/31일이 끝나갑니다. 새해를 맞이하며 다 같이 카운트 다운을 해봐요!
10, 9, 8, …, 1 연속된 숫자를 10부터 1까지 거꾸로 차례대로 출력하려면 어떻게 해야 할까요? while 문을 활용하여 코드를 작성해 보세요.

Tips.
i에서 1씩 빼면서 조건이 거짓이 될때까지 반복하도록 변수를 수정하는 명령을 작성해 보세요. (i = i - 1)

```
#정답 예시
i = 10

# while문을 사용해 10부터 1까지의 연속된 숫자를 거꾸로 출력하는 코드를 작성해 보세요.
while i > 0:
    print(i)
    i = i - 1
```

In [ ]:
i = 10

# while문을 사용해 10부터 1까지의 연속된 숫자를 거꾸로 출력하는 코드를 작성합니다.

##실습, 10년 형에 처한다
이곳은 코딩 법정. 당신의 죄목은 파이썬 태만죄.   
다른 일을 핑계로 파이썬을 소홀히 한 죄입니다.    
파이썬의 창시자 귀도 반 로섬 판사님께서 당신에게 판결을 내리는군요!

익숙함에 속아 소중한 것을 잃어버리다니, 딱하다! 징역 10년 형에 처한다!

while문을 이용해서 10년 형을 살고, 새사람이 되어 나와봅시다!    
아래와 같은 출력 결과가 나오도록 while문을 작성해 보세요.

반복문이 종료된 후, “감옥에서 석방되었습니다!”를 출력해 보세요.

In [ ]:
import time

#while을 이용해서 "i년째 수감 중입니다."를 출력해 보세요.
#while문이 종료된 후에는, "감옥에서 석방되었습니다!"를 출력해 보세요.
i = 1

#잘못된 부분을 고치세요
while i > 10:
    print(i, "년째 수감 중입니다.")
    time.sleep(1)
    i += 1

print("감옥에서 석방되었습니다!")

감옥에서 석방되었습니다!

## 반복문과 조건문

##실습. 적금 타기
나는 코더랜드 은행에 12개월 동안 매월 만 원씩 적금을 부었습니다.   
코더랜드 은행에서 만든 적금 break 문을 따라서 써보면서 break 문의 작동 원리를 익혀 봅시다. 코드의 순서에 유의하며 따라서 써 보세요.
```
i = 1
while True :
    print(i, "월 만원을 입금했습니다.")
    if i == 12:
        print("입금 완료! 12만원을 수령하세요!")
        break
    i = i + 1
```


1. 작성한 코드는 어떤 작업을 하는 코드인가요?
2. while 문의 조건에 True가 들어갔습니다. 이는 어떤 의미일까요?
3. i = i + 1을 해준 이유는?
4. print(i)와 if문(4~6번째 줄)의 위치를 바꾸면 어떻게 될까요? 바꿔보고 실행 결과가 어떻게 달라지는지 확인해 보세요.
5. break는 실행되는 즉시 반복문을 탈출하기 때문에, 보통 조건문과 함께 사용됩니다.
6. 들여쓰기에 주의하세요! 들여쓰기를 어떻게 하느냐에 따라 실행 결과가 달라질 수 있어요.

In [ ]:
#직접 작성하고 실행해 보세요

i = 1

##실습. 위기탈출 넘버원 break
1부터 10까지 더하고 출력하는 코딩 실습을 하고 있습니다.

앗! 그런데 큰일 났어요! [실행] 버튼을 누르는 순간 의도치 않게도 수없이 많은 코드가 멈추지 않고 계속 출력되고 있네요!

하지만 괜찮아요. 우리의 소중한 코드를 무한루프로부터 지켜주는 break가 있으니까요!

코드를 보고 코드의 잘못된 부분을 찾아 고쳐 주세요!

```
#정답  예시
# 다음은 while True:를 이용하여  짠 코드입니다.
i = 1
ans = 0
while True:
    ans = ans + i
    i+=1
    if i>10:
        break


print(ans)
# 위 코드에서 잘못된 점을 찾아서 고쳐줍시다!
# 단, while True: 부분은 수정하면 안됩니다.
```

In [ ]:
# 다음은 while True:를 이용하여 짠 코드입니다.
i = 1
ans = 0
while True:
    ans = ans + i


print(ans)
# 위 코드에서 잘못된 점을 찾아서 고쳐 주세요!
# 단, while True: 부분은 수정하면 안됩니다.