<a href="https://colab.research.google.com/github/yleessam/start/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%8B%9C%EC%9E%91%EC%9D%98_%EB%B0%B0%ED%8F%AC_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 표준출력

>  print(‘출력할 문자열＇)

* 입력한 메세지나 값을 출력함 - 문자, 숫자
* 작은 따옴표(‘ ‘)안의 내용을 화면에 출력, 작은 따옴표(‘) 대신 큰 따옴표(“)를 사용해도 된다.  
ex) print(“출력문자열”)

* 큰 따옴표(“)와 작은 따옴표(‘)를 혼용 불가  ex) print(“출력문자열’)

In [ ]:
print("바 : 바밤바는")
print("밤 : 밤이 들어간")
print("바 : 바이다.")

바 : 바밤바는
밤 : 밤이 들어간
바 : 바이다.

In [ ]:
# 아래 줄에 내 이름으로 삼행시를 지어 보세요.

In [ ]:
# 괄호 안에 내 나이를 입력해 보세요.
print()

# 괄호 안에 내 이름을 입력해 보세요.
print()

# 괄호 안에 내 나이와 내 이름이 담긴 리스트를 입력해 보세요.
print()

# 변수

* 프로그램을 실행하는데 필요한 정보를 저장하는 메모리 공간   
* 숫자, 문자열 저장(문자열 지정 시에서는 따옴표(“or”)로 구분)   
* 변수에 값을 대입할 때 변수가 선언되며 데이터 타입도 결정 됨   

```
# 코드로 형식 지정됨
변수이름 = 값 ( 값을 변수에 할당합니다.)
```

## 변수의 규칙

1. 대·소문자를 구분한다
* myVar와 MyVar는 다른 변수
* 문자, 숫자, 언더바(_)를 포함할 수 있다. 하지만 숫자로 시작하면 안 된다
> var2   
> _var   
> var_2   
> 2Var   

* 예약어는 변수명으로 사용불가
* 한글 사용 가능

In [ ]:
# 변수에는 정수, 실수 같은 숫자를 저장할 수 있어요.
num1 = 1
num2 = 2

# 영어나 한글 같은 문자도 저장할 수 있어요.
character = 'a'

# 이런 문자들의 집합도 저장할 수 있고,
string = 'Python'

# 리스트 또한 저장할 수 있어요.
my_list = [1, 'a', 'Python']

In [ ]:
# 나만의 변수를 만들어 봅시다.
# my_var라는 이름의 변수를 만들고, 원하는 값을 넣어 보세요.


# 만든 변수를 print()의 괄호 안에 넣을 수도 있어요.
# my_var를 print()로 출력해서 값이 잘 들어갔는지 확인해 봅시다!

In [ ]:
# 변수끼리는 연산 또한 가능합니다. 예를들어, 위에 있는 num1, num2을 더하면?!
print(num1+num2)

#다른 변수들을 연산해 보세요

3

##  신기한 변수

1. 한 번에 여러 변수를 선언할 수 있다.

In [1]:
x, y, z = None, None, None
x,y,z

(None, None, None)

 2. 하나의 값을 여러 변수에 담을 수 있다.

In [2]:
x = y = z = None
x, y, z

(None, None, None)

# 기본 자료형
프로그램에서 사용되는 값들의 형태를 “자료형(data type)”이라고 함

```
type( 데이터 ) # 데이터의 자료형 확인
```

In [ ]:
type(num1)

int

In [ ]:
#위에서 만든 변수들의 자료형을 type()으로 확인해 보세요

##1. 숫자형

* 숫자 형태로 이루어진 자료형
* 정수, 실수, 8진수 16진수

In [ ]:
num1 = None
num2 = None

num1+num2


##2. 문자형

* 문자, 단어 등으로 구성된 문자들의 집합
* 문자열은 큰 따옴표(“ “) 또는 작은 따옴표(‘ ‘)로 둘러싸여 표시함.

In [ ]:
# 따옴표로 감싼 문자, 'Hello'와 "Hello"는 동일
a = 'Hello'
type(a)

str

In [ ]:
# 따옴표로 감싼 숫자는 문자
b = '123'
type(b)

str

In [ ]:
#한줄 인사말 출력하기

In [ ]:
#띄어쓰기가 있어도 문자열
say = "\"Python is very easy.\" Ylee says."
print(say)

#여러줄 문자열
info = '''안녕하세요.
오늘 날씨는 아주 맑음입니다.
날씨만큼 좋은 하루 되세요.'''
print(info)

"Python is very easy." Ylee says.
안녕하세요.
오늘 날씨는 아주 맑음입니다.
날씨만큼 좋은 하루 되세요.

In [ ]:
#여러줄 인사말 출력하기

In [ ]:
#문자열 안에 따옴표가 들어간다면? '와 "를 번갈아서 사용해보세요.
y = 'He said, "I love you."'
y

'He said, "I love you."'

In [ ]:
#질문 하기

In [6]:
#문자열 연산
start = '파이썬'
end = '시작하기'
# 문자열 더하기
print()

cnt=3
# 문자열 곱하기

print()

In [4]:
#삼각형 출력하기
print(' '*2, '*')
print(' ', '*'*3)
print('*'*7)

   *
  ***
*******

In [5]:
#다이아몬드 출력하기

##3. 자료형 바꾸기

* 프로그램에서 특정 자료형을 다른 자료형으로 변환
```
int() : 문자열, 실수 등을 정수로 변환
float() : 문자열, 정수 등을 실수로 변환
repr(), str() : 다른 자료형들을 문자열로 변환
```

In [ ]:

int(11+2.3)

13

In [ ]:

float(12*4)

48.0

In [ ]:

str(12.3+11)

'23.3'

## TypeError, ValueError
- 서로 다른 자료를 연산하게 되면 **TypeError** 발생  
- 자료형을 변환할 때 ‘변환할 수 없는 것’을 반환 하려고 할 때 **ValueError **

In [ ]:
num3 = '3 '

num1+num3

In [ ]:
int('5h')

## 4.  f스트링

* 문자열이나 문장을 쉽게 포맷팅
* 문장 사이에 변수 값을 넣어 출력, 입력, 문자열을 만들 때 사용

```
f"  문자열 { 변수 } 문자열"
```

In [7]:
#f스트링으로 친구에게 인사하기
name = "친구이름"
print(f"{name} 야 사랑해!!")

친구이름 야 사랑해!!

In [8]:
#다이아몬드 출력하기
print(f"{' '*3}*")
print(f"  {'*'*3}")
print(f" {'*'*5}")
print(f"{'*'*7}")

#아래쪽을 완성하기

   *
  ***
 *****
*******

# 표준 입력

>  input (프롬프트)

* 프로그램에게 정보를 전달할 수 있음
* 입력 값은 항상 **문자열**로 받아옴
* 괄호()안에 문자열을 넣으면 프롬프트(메시지) 역할을 수행함
* 입력 받은 값을 변수에 저장 가능

```
#정답
# input()을 이용해서 입력을 넣고, 이를 변수 var에 담아봅시다.
var=input()

# 앵무새가 말을 따라합니다!
print("앵무새 :", var)

# 입력한 값이 어떤 자료형인지 확인해봅시다.
print(type(var))
```

In [ ]:
# input()을 이용해서 사용자가 입력하는 값을 받아 이를 변수 var에 담아 보세요.
var = None

# 입력한 값이 잘 저장되었나 확인해 보세요. 아래 코드는 수정하지 않아도 돼요.
print("앵무새 :", var)

# 입력한 값이 어떤 자료형인지 확인해 보세요. 아래 코드는 수정하지 않아도 돼요.
print(type(var))

앵무새 : None
<class 'NoneType'>

## 연산 실습. 두 배로 주는 홍학


코더랜드 E은행의 은행원 홍학은 남들보다 두 배로 열심히 일합니다.    
두 배로 열심히 일하는 홍학에게 돈을 맡기면 일 년 후에 정확히 두 배의 금액을 돌려준다고 합니다. 와우!   
홍학에게 맡길 금액을 입력했을 때 일 년 후 받을 수 있는 돈을 출력해주는 코드를 작성해봅시다.

Tips
input()은 입력받은 값을 문자열로 인식하기 때문에 형변환을 해야 해요!

 > 정답 (참고)

```
#변수 money에 input을 이용해서 입력을 받아봅시다.

money=input()
# money를 int형으로 변환해서, 다시 money에 넣어줍시다.
money=int(money)

# money를 2배 불려서 print로 출력해봅시다.
money = money*2
print(money)
```

In [ ]:
# 변수 money에 input을 이용해서 입력을 받아 보세요.


# money를 int형으로 변환해서, 다시 money에 넣어 주세요.


# money를 2배 불려서 print로 출력해 보세요.

# 연산자

*	사칙연산자  : +, -, *, /
* 나눗셈 후 소수점 아랫자리를 버리는 연산자 : //
* 나머지 연산자 : % (나누었을 때 남은 나머지)
* 제곱연산자 : **
* 대입연산자 : =

##실습. 사칙연산 계산기

In [ ]:

a = int(input("첫번째 수를 입력하세요"))
b = int(input("두번째 수를 입력하세요"))

print("a+b=", None)
print("a-b=",None)
print("a*b=",None)
print("a/b=",None)

첫번째 수를 입력하세요3
두번째 수를 입력하세요5
a+b= 8
a-b= -2
a*b= 15
a/b= 0.6


##실습. 별의별 계산기

In [ ]:
#사탕이 10개 있어요 3명이 나눌때 몇개씩 가질 수 있나요?
#남는 사탕이 있으면 알려주세요

a = int(input("전체 사탕은 몇개인가요? "))
b = int(input("사람 수를 입력하세요 "))
print(f'{a}을 {b}로 나누면....')
#print('몫:', 11711//17)
#print('나머지:', 11711%17)
print('1인당 사탕 갯 :', None)
print('남는 사탕 :', None)

전체 사탕은 몇개인가요? 10
사람 수를 입력하세요 3
10을 3로 나누었을 때
1인당 사탕의 수 : 3
남는 사탕 : 1

In [ ]:
print('----------------------------')
print('3의 7제곱은')
print(3**7)

----------------------------
3의 7제곱은
2187

In [ ]:
#토끼계산기를 만들어보세요
#토끼가 10마리 있습니다.
rabbit = 10
year = 1
#1년후 토끼는 딱 2배가 된다고 가정해 봅니다.
su = rabbit*2**year
print(f'{year}년후 토끼는 {su}마리입니다')
#3년뒤 토끼는 몇마리일까요?
su = rabbit*None
su

#100년후 토끼는 몇마리일까요?

1년후 토끼는 20마리입니다

80

In [ ]:
#허리둘레 계산기
size = int(input("당신의 허리 칫수를 인치로 넣어주세요(숫자만 입력) :  "))
print('----------------------------')
print('선택한 사이즈는')
print(round(None*2.54))

## 거울아 거울아

In [ ]:
print('거울아 거울아')
name = input('세상에서 누가 가장 예쁘니? ')

print(f'세상에서 {None}님이 가장 예쁩니다!!')

거울아 거울아
세상에서 누가 가장 예쁘니? 일리
세상에서 일리님이 가장 예쁩니다!!

## 생일 추출기

In [11]:
birth=input("생년월일을 입력하세요(예: 19990101)")

year = birth[0:4]
month = birth[4:6]
day = birth[6:]

print("당신이 태어난 날은 ", year,"년",month,"월", day, "일입니다")

#f스트링으로 바꾸세요
print(f"당신이 태어난 날은 {None}년 {None}월 {None}일입니다")

생년월일을 입력하세요(예: 19990101)19990101
당신이 태어난 날은  1999 년 01 월 01 일입니다
당신이 태어난 날은 1999년 01월 01일입니다

In [12]:
#요일 찾기
from datetime import datetime

date_string = '20230808'  #입력받은 생일을 넣어주세요
date_format = '%Y%m%d'

try:
    date_object = datetime.strptime(date_string, date_format)
    day_of_week = date_object.strftime('%A')  # '%A'는 요일 이름을 나타내는 형식 문자열입니다.
    print(f"{date_string}의 요일은 {day_of_week}입니다.")
except ValueError:
    print("올바른 날짜 형식이 아닙니다.")

print(f"당신이 태어난 날은 {year}년 {month}월 {day}일 {day_of_week}입니다")

20230808의 요일은 Tuesday입니다.
당신이 태어난 날은 1999년 01월 01일 Tuesday입니다

# 리스트와 문자열

In [ ]:
#문자열 분할 1
a = "오늘 날씨가 좋아요"
a.split()

['오늘', '날씨가', '좋아요']

In [16]:
#문자열 나누기와 합치기
a = "사과,배,바나나,딸기"
b = a.split(None)
print(b)

#문자열 - 을 이용해 합쳐기
c = "-".join(b)
print(c)

#문자열 + 로 합쳐 봅시다
d = None
print(d)

['사과', '배', '바나나', '딸기']
사과-배-바나나-딸기
사과+배+바나나+딸기

## 실습 뚜루는 몇번 들어 있을까?

In [ ]:
#file = open("babyshark.txt", "r", encoding='UTF8')
txt = '''

'''

#txt = file.read()

searchStr = "뚜 루루"

print(txt.count(searchStr))
#file.close()

# 컨테이너 타입

컨테이너 타입은 여러 개의 값을 다루는 자료형입니다. list, tuple, set, dictionary가 있습니다.

1. 리스트(list) : 데이터를 연속적으로 관리, 값을 바꿀 수 있음, 예:['가', '나', '다', '라']

2. 튜플(tuple) : 데이터를 연속적으로 관리, 값을 바꿀 수 없음, 예:('가', '나', '다', '라')

3. 세트(set) : 집합과 같은 속성, 예:{'가', '나', '다', '라'}

4. 딕셔너리(dictionary) : key-value 쌍, 예: {'가':123, '나':456, '다':789}

# 리스트

In [19]:
# 험프티가 가지고 있는 보석 중에 특별히 빛나는 보석이 있어요!
humpty = ['은', '은', '다이아몬드', '은', '은', '은', '은', '은']

# 그 보석이 무엇인지 찾아 아래 변수에 넣어 보세요.
jewel1 = humpty[0]

# 덤프티는 금빛 보석을 많이 가지고 있네요!
dumpty = ['은', '은', '은', '은', '금', '금', '금', '은', '은', '은']

# 금빛 보석만 찾아 아래 변수에 넣어 보세요.
jewel2 = dumpty[0:0]

# 가장 빛나는 보석을 잘 찾았는지 print()로 확인해 볼까요? 아래는 수정하지 않아도 돼요.
print('humpty 가방 속 가장 빛나는 보석', jewel1)
print('dumpty 가방 속 금빛 찬란한 보석', jewel2)

humpty 가방 속 가장 빛나는 보석 은
dumpty 가방 속 금빛 찬란한 보석 []

## 리스트의 인덱스

* 인덱싱 활용 및 변수 대입   
* humpty 리스트에서 “다이아몬드”의 자료 순서 확인하기   
* 인덱싱은 하나의 자료를 가져오는 방법이라는 사실    

> dumpty[1]

* 슬라이싱은 구간을 설정하여 구간 내 자료를 가져오는 방법

> dumpty[4:7]

📌 Tips

인덱스는 실제 위치보다 1 작다는 점, 슬라이싱의 마지막 인덱스는 가져오려는 위치보다 1 커야 해요

## 리스트에 추가하기

* append()를 사용하면 리스트에 원소를 1개 추가할 수 있어요!

## 실습 선착순! 줄을~ 서시오

하트 여왕의 경기에 참여하기 위해 코더랜드 동물들이 하나 둘 모이고 있습니다!   

원활한 경기 진행을 위해서 경기장에 모인 동물들을 도착한 순서대로 줄 세워볼까요? 빈 리스트 line_up을 만들고 동물들을 순서대로 추가해 주세요!

* 순서

1. 도마뱀
2. 홍학
3. 토끼

```
#정답 예시
# 선착순으로 줄을 세우기 위해 빈 리스트 line_up을 만들어 보세요.
line_up = []

# append 함수를 이용하여 line_up에 동물 친구들을 도마뱀 - 홍학 - 토끼의 순서대로 추가해 보세요.
line_up.append("도마뱀")
line_up.append("홍학")
line_up.append("토끼")

# 제대로 줄을 세웠는지 line_up을 출력하여 확인해 봅시다.
print(line_up)
```

In [ ]:
# 선착순으로 줄을 세우기 위해 빈 리스트 line_up을 만들어 보세요.
line_up = None

# append 함수를 이용하여 line_up에 동물 친구들을 도마뱀 - 홍학 - 토끼의 순서대로 추가해 보세요.



# 제대로 줄을 세웠는지 line_up을 출력하여 확인해 봅시다.
print(line_up)

## 리스트에 끼워 넣기

insert() 를 이용하면 리스트에 원하는 위치로 들어갈 수 있어요

## 실습. 새치기의 달인

경기장에 가장 늦게 도착한 도도새가 기회를 엿보더니 홍학 앞으로 새치기를 시도합니다! 홍학이 고개를 돌린 사이에 슬쩍 끼어 들어가 볼까요?

Tips
인덱스는 0부터 시작한다는 사실을 조심하세요!

``` #정답
#line_up = ["도마뱀", "홍학", "토끼", "고양이"]

# line_up의  "도마뱀"과 "홍학" 사이에 "도도새"를 넣어봅시다.
line_up.insert(1, "도도새")

# line_up을 출력하여 도도새가 새치기에 성공했는지 알아봅시다.
print(line_up)
```

In [ ]:
line_up = ["도마뱀", "홍학", "토끼", "고양이"]

# line_up의 "도마뱀"과 "홍학" 사이에 "도도새"를 넣어 보세요.


# line_up을 출력하여 도도새가 새치기에 성공했는지 확인해 봅시다!
print(line_up)

## 리스트에서 삭제하기

remove(), pop()을 이용하면, 리스트에서 빼버릴 수 있어요

## 실습. 도도새 퇴치

도도새의 새치기에 잔뜩 화가 난 홍학의 얼굴이 새빨개졌습니다.  하트 여왕이 심판을 내리는군요.  반칙 금지! 도도새는 퇴장하라!

하트 여왕의 명령에 따라 도도새를 퇴치해 보세요!

Tips
remove()를 사용하면 리스트 안의 특정 원소를 제거할 수 있어요.

``` #정답

line_up = ["도마뱀", "도도새", "홍학", "토끼"]

# line_up에서 "도도새"를 없애봅시다.
line_up.remove("도도새")

# line_up을 출력하여 도도새를 퇴치했는지 확인해 보세요.
print(line_up)

```

In [ ]:
line_up = ["도마뱀", "도도새", "홍학", "토끼"]

# line_up에서 "도도새"를 없애 보세요.


# line_up을 출력하여 도도새를 퇴치했는지 확인해 봅시다!
print(line_up)

['도마뱀', '도도새', '홍학', '토끼']

## 리스트 줄세우기
sort()를 이용해서 사전 순서대로 정렬할 수 있어요.

## 실습. 순서는 정해져 있어!  다시 줄 서기   

경기가 시작되기를 기다리고 있는데 변덕이 심한 하트여왕이 말합니다.
사전순으로 줄을 서시오
하트여왕의 명령에 따라 선착순으로 줄을 섰던 동물 친구들을 다시 정렬해 봅시다!

Tips
sort()를 이용하면 리스트의 원소를 정렬할 수 있어요.
숫자는 오름차순, 문자는 사전 순으로 정렬돼요!

```#정답
line_up = ["도마뱀", "홍학", "토끼"]

# line_up을 사전순으로 정렬해 봅시다.
line_up.sort()

# line_up을 출력하여 정렬이 잘 되었나 확인해 보세요.
print(line_up)
```

In [ ]:
line_up = ["도마뱀", "홍학", "토끼"]

# line_up을 사전순으로 정렬해 보세요.


# line_up을 출력하여 정렬이 잘 되었나 확인해 봅시다!
print(line_up)

## 🎯 미션1 - 칙칙폭폭 기차놀이

부산행 기차가 사람들을 태우고 출발하려 하고 있어요! 기차역에 설 때마다 승객들이 기차에 타거나 기차에서 내립니다. 리스트의 활용으로 차장님을 도와줍시다!


이렇게 해봅시다!
주석을 읽고 각 역에 정차할 때마다 주어지는 미션을 수행하는 코드를 그 아랫줄에 작성해 보세요.
아래의 리스트의 활용 함수들을 적절히 사용해 보세요!

```
#정답
# 기차에 3명의 승객이 타고 있어요
train = ['성진', '찬경', '준영']

# 서울역: 승객 '주아'를 맨 뒷칸에 태우세요
train.append('주아')

print('서울역 도착.  // ', train)
# 대전역: 1등석 승객 '동빈'을 맨 앞에 태우세요
train.insert(0, '동빈')

print('대전역 도착. // ', train)
# 동대구역: 승객 '성진'을 내려주세요
train.remove('성진')

print('동대구역 도착. // ', train)
# 부산역: 마지막 역이니 사전순으로 정렬해 주세요
train.sort()

print('부산역 도착. // ', train)
print('오늘도 빠르고 편안한 기차를 이용해 주셔서 감사합니다.')
````

In [ ]:
# 기차에 3명의 승객이 타고 있어요.
train = ['성진', '찬경', '준영']

# 서울역: 승객 '주아'를 맨 뒷칸에 태워 주세요.


print('서울역 도착.  // ', train)
# 대전역: 1등석 승객 '동빈'을 맨 앞에 태워 주세요.


print('대전역 도착. // ', train)
# 동대구역: 승객 '성진'을 내려 주세요.


print('동대구역 도착. // ', train)
# 부산역: 마지막 역이니 사전순으로 정렬해 주세요.


print('부산역 도착. // ', train)
print('오늘도 빠르고 편안한 기차를 이용해 주셔서 감사합니다.')