<a href="https://colab.research.google.com/github/yleessam/start/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%8B%9C%EC%9E%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 표준출력

>  print(‘출력할 문자열＇)

* 입력한 메세지나 값을 출력함 - 문자, 숫자
* 작은 따옴표(‘ ‘)안의 내용을 화면에 출력, 작은 따옴표(‘) 대신 큰 따옴표(“)를 사용해도 된다.  
ex) print(“출력문자열”)

* 큰 따옴표(“)와 작은 따옴표(‘)를 혼용 불가  ex) print(“출력문자열’)

In [1]:
print("바 : 바밤바는")
print("밤 : 밤이 들어간")
print("바 : 바이다.")

바 : 바밤바는
밤 : 밤이 들어간
바 : 바이다.

In [ ]:
# 아래 줄에 내 이름으로 삼행시를 지어 보세요.

In [2]:
# 괄호 안에 내 나이를 입력해 보세요.
print(12)

# 괄호 안에 내 이름을 입력해 보세요.
print("YLee")

# 괄호 안에 내 나이와 내 이름이 담긴 리스트를 입력해 보세요.
print([12, "Elice"])

12
YLee
[12, 'Elice']

In [ ]:
# 괄호 안에 내 나이를 입력해 보세요.
print()

# 괄호 안에 내 이름을 입력해 보세요.
print()

# 괄호 안에 내 나이와 내 이름이 담긴 리스트를 입력해 보세요.
print()

# 변수

* 프로그램을 실행하는데 필요한 정보를 저장하는 메모리 공간   
* 숫자, 문자열 저장(문자열 지정 시에서는 따옴표(“or”)로 구분)   
* 변수에 값을 대입할 때 변수가 선언되며 데이터 타입도 결정 됨   

```
# 코드로 형식 지정됨
변수이름 = 값 ( 값을 변수에 할당합니다.)
```

## 변수의 규칙

1. 대·소문자를 구분한다
* myVar와 MyVar는 다른 변수
* 문자, 숫자, 언더바(_)를 포함할 수 있다. 하지만 숫자로 시작하면 안 된다
> var2   
> _var   
> var_2   
> 2Var   

* 예약어는 변수명으로 사용불가
* 한글 사용 가능

In [3]:
# 변수에는 정수, 실수 같은 숫자를 저장할 수 있어요.
num1 = 1
num2 = 2

# 영어나 한글 같은 문자도 저장할 수 있어요.
character = 'a'

# 이런 문자들의 집합도 저장할 수 있고,
string = 'Python'

# 리스트 또한 저장할 수 있어요.
my_list = [1, 'a', 'Python']

In [ ]:
# 나만의 변수를 만들어 봅시다.
# my_var라는 이름의 변수를 만들고, 원하는 값을 넣어 보세요.


# 만든 변수를 print()의 괄호 안에 넣을 수도 있어요.
# my_var를 print()로 출력해서 값이 잘 들어갔는지 확인해 봅시다!

In [4]:
# 변수끼리는 연산 또한 가능합니다. 예를들어, 위에 있는 num1, num2을 더하면?!
print(num1+num2)

3

##  신기한 변수

1. 한 번에 여러 변수를 선언할 수 있다.

In [27]:
x, y, z = "Apple", "Banana", "Carrot"
x,y,z

('Apple', 'Banana', 'Carrot')

 2. 하나의 값을 여러 변수에 담을 수 있다.

In [28]:
x = y = z = "Dog"
x, y, z

('Dog', 'Dog', 'Dog')

# 기본 자료형
프로그램에서 사용되는 값들의 형태를 “자료형(data type)”이라고 함

```
type( 데이터 ) # 데이터의 자료형 확인
```

In [5]:
type(num1)

int

In [ ]:
#위에서 만든 변수들의 자료형을 type()으로 확인해 보세요

##1. 숫자형

* 숫자 형태로 이루어진 자료형
* 정수, 실수, 8진수 16진수

In [6]:
num1 = 10
num2 = 10.5

num1+num2

20.5


##2. 문자형

* 문자, 단어 등으로 구성된 문자들의 집합
* 문자열은 큰 따옴표(“ “) 또는 작은 따옴표(‘ ‘)로 둘러싸여 표시함.

In [30]:
# 따옴표로 감싼 문자, 'Hello'와 "Hello"는 동일
a = 'Hello'
type(a)

str

In [31]:
# 따옴표로 감싼 숫자는 문자
b = '123'
type(b)

str

In [8]:
#띄어쓰기가 있어도 문자열
say = "\"Python is very easy.\" Ylee says."
print(say)

#여러줄 문자열
info = '''안녕하세요.
오늘 날씨는 아주 맑음입니다.
날씨만큼 좋은 하루 되세요.'''
print(info)

"Python is very easy." Ylee says.
안녕하세요.
오늘 날씨는 아주 맑음입니다.
날씨만큼 좋은 하루 되세요.

In [32]:
#문자열 안에 따옴표가 들어간다면? '와 "를 번갈아서 사용해보세요.
y = 'He said, "I love you."'
y

'He said, "I love you."'

In [9]:
#문자열 연산
start = '파이썬'
end = '시작하기'
print(start+end)

cnt=3

print(start*cnt)

파이썬시작하기
파이썬파이썬파이썬

In [10]:
#다이아몬드 출력하기
print(' '*2, '*')
print(' ', '*'*3)
print('*'*7)
print(' ', '*'*3)
print(' '*2, '*')

   *
  ***
*******
  ***
   *

##3. 자료형 바꾸기

* 프로그램에서 특정 자료형을 다른 자료형으로 변환
```
int() : 문자열, 실수 등을 정수로 변환
float() : 문자열, 정수 등을 실수로 변환
repr(), str() : 다른 자료형들을 문자열로 변환
```

In [11]:

int(11+2.3)

13

In [12]:

float(12*4)

48.0

In [13]:

str(12.3+11)

'23.3'

## TypeError, ValueError
- 서로 다른 자료를 연산하게 되면 **TypeError** 발생  
- 자료형을 변환할 때 ‘변환할 수 없는 것’을 반환 하려고 할 때 **ValueError **

In [ ]:
num3 = '3 '

num1+num3

In [ ]:
int('5h')

## 4.  f스트링

* 문자열이나 문장을 쉽게 포맷팅
* 문장 사이에 변수 값을 넣어 출력, 입력, 문자열을 만들 때 사용

```
f"  문자열 { 변수 } 문자열"
```

In [ ]:
#f스트링으로 표현해 보기

In [49]:
#다이아몬드 출력하기
print(f"{' '*3}*")
print(f"  {'*'*3}")
print(f" {'*'*5}")
print(f"{'*'*7}")
print(f" {'*'*5}")
print(f"  {'*'*3}")
print(f"{' '*3}*")

   *
  ***
 *****
*******
 *****
  ***
   *

# 표준 입력

>  input (프롬프트)

* 프로그램에게 정보를 전달할 수 있음
* 입력 값은 항상 **문자열**로 받아옴
* 괄호()안에 문자열을 넣으면 프롬프트(메시지) 역할을 수행함
* 입력 받은 값을 변수에 저장 가능

```
#정답
# input()을 이용해서 입력을 넣고, 이를 변수 var에 담아봅시다.
var=input()

# 앵무새가 말을 따라합니다!
print("앵무새 :", var)

# 입력한 값이 어떤 자료형인지 확인해봅시다.
print(type(var))
```

In [16]:
# input()을 이용해서 사용자가 입력하는 값을 받아 이를 변수 var에 담아 보세요.
var = None

# 입력한 값이 잘 저장되었나 확인해 보세요. 아래 코드는 수정하지 않아도 돼요.
print("앵무새 :", var)

# 입력한 값이 어떤 자료형인지 확인해 보세요. 아래 코드는 수정하지 않아도 돼요.
print(type(var))

앵무새 : None
<class 'NoneType'>

# 연산 실습. 두 배로 주는 홍학


코더랜드 E은행의 은행원 홍학은 남들보다 두 배로 열심히 일합니다.    
두 배로 열심히 일하는 홍학에게 돈을 맡기면 일 년 후에 정확히 두 배의 금액을 돌려준다고 합니다. 와우!   
홍학에게 맡길 금액을 입력했을 때 일 년 후 받을 수 있는 돈을 출력해주는 코드를 작성해봅시다.

Tips
input()은 입력받은 값을 문자열로 인식하기 때문에 형변환을 해야 해요!

 > 정답 (참고)

```
#변수 money에 input을 이용해서 입력을 받아봅시다.

money=input()
# money를 int형으로 변환해서, 다시 money에 넣어줍시다.
money=int(money)

# money를 2배 불려서 print로 출력해봅시다.
money = money*2
print(money)
```

In [17]:
# 변수 money에 input을 이용해서 입력을 받아 보세요.


# money를 int형으로 변환해서, 다시 money에 넣어 주세요.


# money를 2배 불려서 print로 출력해 보세요.

# 연산자

*	사칙연산자  : +, -, *, /
* 나눗셈 후 소수점 아랫자리를 버리는 연산자 : //
* 나머지 연산자 : % (나누었을 때 남은 나머지)
* 제곱연산자 : **
* 대입연산자 : =

##실습. 사칙연산 계산기

In [18]:

a = int(input("첫번째 수를 입력하세요"))
b = int(input("두번째 수를 입력하세요"))

print("a+b=", a+b)
print("a-b=",a-b)
print("a*b=",a*b)
print("a/b=",a/b)

첫번째 수를 입력하세요3
두번째 수를 입력하세요5
a+b= 8
a-b= -2
a*b= 15
a/b= 0.6


##실습. 별의별 계산기

In [21]:
#사탕이 10개 있어요 3명이 나눌때 몇개씩 가질 수 있나요?
#남는 사탕이 있으면 알려주세요

a = int(input("전체 사탕은 몇개인가요? "))
b = int(input("사람 수를 입력하세요 "))
print(f'{a}을 {b}로 나누면....')
#print('몫:', 11711//17)
#print('나머지:', 11711%17)
print('1인당 사탕 갯 :', a//b)
print('남는 사탕 :', a%b)

전체 사탕은 몇개인가요? 10
사람 수를 입력하세요 3
10을 3로 나누었을 때
1인당 사탕의 수 : 3
남는 사탕 : 1

In [25]:
print('----------------------------')
print('3의 7제곱은')
print(3**7)

----------------------------
3의 7제곱은
2187

In [26]:
#토끼계산기를 만들어보세요
#토끼가 10마리 있습니다.
rabbit = 10
year = 1
#1년후 토끼는 딱 2배가 된다고 가정해 봅니다.
su = rabbit*2**year
print(f'{year}년후 토끼는 {su}마리입니다')
#3년뒤 토끼는 몇마리일까요?
su = rabbit*2**3
su

#100년후 토끼는 몇마리일까요?

1년후 토끼는 20마리입니다

80

In [ ]:
#허리둘레 계산기
size = int(input("당신의 허리 칫수를 인치로 넣어주세요(숫자만 입력) :  "))
print('----------------------------')
print('선택한 사이즈는')
print(round(size*2.54))

## 거울아 거울아

In [ ]:
print('거울아 거울아')
name = input('세상에서 누가 가장 예쁘니? ')

print(f'세상에서 {name}님이 가장 예쁩니다!!')

거울아 거울아
세상에서 누가 가장 예쁘니? 일리
세상에서 일리님이 가장 예쁩니다!!

## 생일 추출기

In [ ]:
birth=input("생년월일을 입력하세요")

year = birth[0:4]
month = birth[4:6]
day = birth[6:]

print("당신이 태어난 날은 ", year,"년",month,"월", day, "일입니다")

# 리스트와 문자열

In [1]:
#문자열 분할 1
a = "오늘 날씨가 좋아요"
a.split()

['오늘', '날씨가', '좋아요']

In [ ]:
#문자열 나누기와 합치기
a = "사과,배,바나나,딸기"
b = a.split(",")
print(b)
"-".join(b)

## 실습 뚜루는 몇번 들어 있을까?

In [ ]:
#file = open("babyshark.txt", "r", encoding='UTF8')
txt = '''

'''

#txt = file.read()

searchStr = "뚜 루루"

print(txt.count(searchStr))
#file.close()

# 컨테이너 타입

컨테이너 타입은 여러 개의 값을 다루는 자료형입니다. list, tuple, set, dictionary가 있습니다.

1. 리스트(list) : 데이터를 연속적으로 관리, 값을 바꿀 수 있음, 예:['가', '나', '다', '라']

2. 튜플(tuple) : 데이터를 연속적으로 관리, 값을 바꿀 수 없음, 예:('가', '나', '다', '라')

3. 세트(set) : 집합과 같은 속성, 예:{'가', '나', '다', '라'}

4. 딕셔너리(dictionary) : key-value 쌍, 예: {'가':123, '나':456, '다':789}

# 리스트

In [2]:
# 험프티가 가지고 있는 보석 중에 특별히 빛나는 보석이 있어요!
humpty = ['은', '은', '다이아몬드', '은', '은', '은', '은', '은']

# 그 보석이 무엇인지 찾아 아래 변수에 넣어 보세요.
jewel1 = humpty[2]

# 덤프티는 금빛 보석을 많이 가지고 있네요!
dumpty = ['은', '은', '은', '은', '금', '금', '금', '은', '은', '은']

# 금빛 보석만 찾아 아래 변수에 넣어 보세요.
jewel2 = dumpty[4:7]

# 가장 빛나는 보석을 잘 찾았는지 print()로 확인해 볼까요? 아래는 수정하지 않아도 돼요.
print('humpty 가방 속 가장 빛나는 보석', jewel1)
print('dumpty 가방 속 금빛 찬란한 보석', jewel2)

humpty 가방 속 가장 빛나는 보석 다이아몬드
dumpty 가방 속 금빛 찬란한 보석 ['금', '금', '금']

## 리스트의 인덱스

* 인덱싱 활용 및 변수 대입   
* humpty 리스트에서 “다이아몬드”의 자료 순서 확인하기   
* 인덱싱은 하나의 자료를 가져오는 방법이라는 사실    

> dumpty[1]

* 슬라이싱은 구간을 설정하여 구간 내 자료를 가져오는 방법

> dumpty[4:7]

📌 Tips

인덱스는 실제 위치보다 1 작다는 점, 슬라이싱의 마지막 인덱스는 가져오려는 위치보다 1 커야 해요

In [ ]:
# 험프티가 가지고 있는 보석 중에 특별히 빛나는 보석이 있어요!
humpty = ['은', '은', '다이아몬드', '은', '은', '은', '은', '은']

# 그 보석이 무엇인지 찾아 아래 변수에 넣어봅시다!
jewel1 = humpty[2]

# 덤프티는 금빛 보석을 많이 가지고 있네요!
dumpty = ['은', '은', '은', '은', '금', '금', '금', '은', '은', '은']

# 금빛 보석만 찾아 아래 변수에 넣어봅시다!
jewel2 = dumpty[4:7]

# 가장 빛나는 보석을 잘 찾았는지 print()로 확인해 볼까요? 아래는 수정하지 않아도 돼요.
print('humpty 가방 속 가장 빛나는 보석', jewel1)
print('dumpty 가방 속 금빛 찬란한 보석', jewel2)

## 리스트에 추가하기

* append()를 사용하면 리스트에 원소를 1개 추가할 수 있어요!

## 실습 선착순! 줄을~ 서시오

하트 여왕의 경기에 참여하기 위해 코더랜드 동물들이 하나 둘 모이고 있습니다!   

원활한 경기 진행을 위해서 경기장에 모인 동물들을 도착한 순서대로 줄 세워볼까요? 빈 리스트 line_up을 만들고 동물들을 순서대로 추가해 주세요!

* 순서

1. 도마뱀
2. 홍학
3. 토끼

In [ ]:
# 선착순으로 줄을 세우기 위해 빈 리스트 line_up을 만들어 보세요.
line_up = None

# append 함수를 이용하여 line_up에 동물 친구들을 도마뱀 - 홍학 - 토끼의 순서대로 추가해 보세요.



# 제대로 줄을 세웠는지 line_up을 출력하여 확인해 봅시다.
print(line_up)

In [ ]:
# 선착순으로 줄을 세우기 위해 빈 리스트 line_up을 만들어 보세요.
line_up = []

# append 함수를 이용하여 line_up에 동물 친구들을 도마뱀 - 홍학 - 토끼의 순서대로 추가해 보세요.
line_up.append("도마뱀")
line_up.append("홍학")
line_up.append("토끼")

# 제대로 줄을 세웠는지 line_up을 출력하여 확인해 봅시다.
print(line_up)

## 리스트에 끼워 넣기

insert() 를 이용하면 리스트에 원하는 위치로 들어갈 수 있어요

## 실습. 새치기의 달인

경기장에 가장 늦게 도착한 도도새가 기회를 엿보더니 홍학 앞으로 새치기를 시도합니다! 홍학이 고개를 돌린 사이에 슬쩍 끼어 들어가 볼까요?

Tips
인덱스는 0부터 시작한다는 사실을 조심하세요!

``` #정답
#line_up = ["도마뱀", "홍학", "토끼", "고양이"]

# line_up의  "도마뱀"과 "홍학" 사이에 "도도새"를 넣어봅시다.
line_up.insert(1, "도도새")

# line_up을 출력하여 도도새가 새치기에 성공했는지 알아봅시다.
print(line_up)
```

In [ ]:
line_up = ["도마뱀", "홍학", "토끼", "고양이"]

# line_up의 "도마뱀"과 "홍학" 사이에 "도도새"를 넣어 보세요.


# line_up을 출력하여 도도새가 새치기에 성공했는지 확인해 봅시다!
print(line_up)

## 리스트에서 삭제하기

drop()을 이용하면, 리스트에서 빼버릴 수 있어요

## 실습. 도도새 퇴치

도도새의 새치기에 잔뜩 화가 난 홍학의 얼굴이 새빨개졌습니다.  하트 여왕이 심판을 내리는군요.  반칙 금지! 도도새는 퇴장하라!

하트 여왕의 명령에 따라 도도새를 퇴치해 보세요!

Tips
remove()를 사용하면 리스트 안의 특정 원소를 제거할 수 있어요.

``` #정답

line_up = ["도마뱀", "도도새", "홍학", "토끼"]

# line_up에서 "도도새"를 없애봅시다.
line_up.remove("도도새")

# line_up을 출력하여 도도새를 퇴치했는지 확인해 보세요.
print(line_up)

```

In [7]:
line_up = ["도마뱀", "도도새", "홍학", "토끼"]

# line_up에서 "도도새"를 없애 보세요.


# line_up을 출력하여 도도새를 퇴치했는지 확인해 봅시다!
print(line_up)

['도마뱀', '도도새', '홍학', '토끼']

In [8]:
# 비와이, 제시 2개를 한 번에 추가하세요
lile_up2 = line_up.copy()
lile_up2.extend(['비와이','제시'])
print(lile_up2)

# 제거해주세요.
lile_up2.pop(5)
print(lile_up2)

#리스트를 모두 제거하세요
lile_up2.clear()
print(lile_up2)

['도마뱀', '도도새', '홍학', '토끼', '비와이', '제시']
['도마뱀', '도도새', '홍학', '토끼', '비와이']
[]

## 리스트 줄세우기
sort()를 이용해서 사전 순서대로 정렬할 수 있어요.

## 실습. 순서는 정해져 있어!  다시 줄 서기   

경기가 시작되기를 기다리고 있는데 변덕이 심한 하트여왕이 말합니다.
사전순으로 줄을 서시오
하트여왕의 명령에 따라 선착순으로 줄을 섰던 동물 친구들을 다시 정렬해 봅시다!

Tips
sort()를 이용하면 리스트의 원소를 정렬할 수 있어요.
숫자는 오름차순, 문자는 사전 순으로 정렬돼요!

```#정답
line_up = ["도마뱀", "홍학", "토끼"]

# line_up을 사전순으로 정렬해 봅시다.
line_up.sort()

# line_up을 출력하여 정렬이 잘 되었나 확인해 보세요.
print(line_up)
```

In [ ]:
line_up = ["도마뱀", "홍학", "토끼"]

# line_up을 사전순으로 정렬해 보세요.


# line_up을 출력하여 정렬이 잘 되었나 확인해 봅시다!
print(line_up)

## 🎯 미션1 - 칙칙폭폭 기차놀이

부산행 기차가 사람들을 태우고 출발하려 하고 있어요! 기차역에 설 때마다 승객들이 기차에 타거나 기차에서 내립니다. 리스트의 활용으로 차장님을 도와줍시다!


이렇게 해봅시다!
주석을 읽고 각 역에 정차할 때마다 주어지는 미션을 수행하는 코드를 그 아랫줄에 작성해 보세요.
아래의 리스트의 활용 함수들을 적절히 사용해 보세요!

```
#정답
# 기차에 3명의 승객이 타고 있어요
train = ['성진', '찬경', '준영']

# 서울역: 승객 '주아'를 맨 뒷칸에 태우세요
train.append('주아')

print('서울역 도착.  // ', train)
# 대전역: 1등석 승객 '동빈'을 맨 앞에 태우세요
train.insert(0, '동빈')

print('대전역 도착. // ', train)
# 동대구역: 승객 '성진'을 내려주세요
train.remove('성진')

print('동대구역 도착. // ', train)
# 부산역: 마지막 역이니 사전순으로 정렬해 주세요
train.sort()

print('부산역 도착. // ', train)
print('오늘도 빠르고 편안한 기차를 이용해 주셔서 감사합니다.')
````

In [ ]:
# 기차에 3명의 승객이 타고 있어요.
train = ['성진', '찬경', '준영']

# 서울역: 승객 '주아'를 맨 뒷칸에 태워 주세요.


print('서울역 도착.  // ', train)
# 대전역: 1등석 승객 '동빈'을 맨 앞에 태워 주세요.


print('대전역 도착. // ', train)
# 동대구역: 승객 '성진'을 내려 주세요.


print('동대구역 도착. // ', train)
# 부산역: 마지막 역이니 사전순으로 정렬해 주세요.


print('부산역 도착. // ', train)
print('오늘도 빠르고 편안한 기차를 이용해 주셔서 감사합니다.')

# 조건문 if

조건에 따라 다른 처리를 할 수 있어요

![image.png]()

## 실습. 더울때 아아
기온이 0ºC보다 높으면 ‘아이스 아메리카노’를 출력하는 프로그램을 만들어 보세요.

In [ ]:
#온도
today_temp = 30

if today_temp > 0:
    print("아이스 아메리카노")

## 미션. 쿠키상자

줄지 않는 쿠키   
엘리스 토끼가 쿠키 상자를 발견했어요.       
5개를 집어 먹었는데, 이게 웬일일까요! 쿠키 5개가 그대로 남아 있군요!   

파이썬의 if문을 이용해서 먹은 쿠키의 개수만큼 다시 쿠키가 생기는 상자를 만들어 봐요.

입력값으로 음수가 입력되면 양수로 바꿔서 출력해주는 코드를 만들어 주세요.

Tips
새로 생긴 쿠키의 개수는 먹은 개수만큼 생겨야 해요!
만약 -5를 입력한다면, 새로 생긴 쿠키의 개수는 5개가 되겠죠?

> 정답 (예시)

```
# 변수 cookie를 선언하고, input()을 이용해서 먹은 쿠키의 개수를 입력받습니다.
cookie = int(input())

# if문을 이용해서 cookie가 음수면 -1을 곱해 다시 cookie에 저장해 봅시다.
new_cookie = 0
if cookie < 0:
    new_cookie = cookie*-1

# cookie의 개수가 몇 개인지 출력합니다.
print('새로 생킨 쿠키의 개수 :', new_cookie)
```

In [35]:
#원래 쿠키
cookie = 5
# input()으로 숫자를 입력받아 변수 cookie에 저장해요.
eat_cookie = int(input())

new_cookie = cookie-eat_cookie
# 아래 ? 부분에 조건문을 작성하여 코드를 완성해 주세요.
# 쿠키의 개수가 음수라면 양수로 바꿀 수 있도록 조건문을 수정해 주세요.
if new_cookie<0 :
    new_cookie = new_cookie * -1 # 음수를 양수로 바꿔요.

# cookie의 개수가 몇 개인지 확인해 보세요.
print('새로 생킨 쿠키의 개수 :', new_cookie)

8
새로 생킨 쿠키의 개수 : 3

## 두번째 조건 else
기온이 0ºC보다 높으면 ‘아이스 아메리카노’를 출력하고, 그렇지 않은 경우에는 ‘따뜻한 아메리카노’를 출력하는 프로그램을 만들어 보세요.

In [ ]:
today_temp = 30

if today_temp > 0:
    print("아이스 아메리카노")
else:
    print("따뜻한 아메리카노")

## 세번째 조건 elif

기온이 0ºC보다 높으면 ‘아이스 아메리카노’, 기온이 0ºC이면 ‘미지근한 아메리카노’, 나머지 경우에는 ‘따뜻한 아메리카노’를 출력하는 프로그램을 만들어 보세요.

In [37]:
today_temp = 30

if today_temp > 0:
    print("아이스 아메리카노")
elif today_temp == 0:
    print("미지근한 아메리카노")
else:
    print("따뜻한 아메리카노")

아이스 아메리카노

## 이중 if

조건이 2개면 if 도 2개 --> if 속에 if

날씨가 맑은 날인 경우,

> 기온이 0ºC보다 높으면 ‘아이스 아메리카노’,    
> 기온이 0ºC이면 ‘미지근한 아메리카노’,    
> 나머지 경우에는 ‘따뜻한 아메리카노’를 출력하고   

날씨가 맑지 않은 경우,‘카푸치노’를 출력하는 프로그램을 만들어 보세요.

In [38]:
weather = "비"
today_temp = 30

if weather == "맑음":
    if 0 < today_temp:
        print("아이스 아메리카노")
    elif 0 == today_temp:
        print("미지근한 아메리카노")
    else:
        print("따뜻한 아메리카노")
else:
    print("카푸치노")

카푸치노

## 미션. 홀짝 판별기
엘리스 토끼가 도도새와 함께 홀짝 게임을 하고 있어요!   
홀짝 게임은 주먹으로 동전을 집었을 때, 주먹에 있는 동전의 개수가 홀수인지, 짝수인지 맞히는 게임이에요.

if-else문을 이용해서 어떤 수를 입력했을 때 이 수가 홀수인지 짝수인지 판별하는 프로그램을 만들어 봅시다.

짝수인 경우에는 “짝수입니다.”를 출력해요.   
홀수인 경우에는 “홀수입니다.”를 출력해요.

```#정답 예시.
# 변수 num에 사용자로부터 입력받은 수가 저장돼요.
num = int(input())

# 조건이 참인 경우(짝수), 거짓인 경우(홀수)에 따라 적절한 실행 동작을 작성해 주세요.
if num % 2 == 0 : # 짝수인 경우
    print("짝수입니다.")
else : # 홀수인 경우
    print("홀수입니다.")
```

In [36]:
# 변수 num에 사용자로부터 입력받은 수가 저장돼요.


# 조건이 참인 경우(짝수), 거짓인 경우(홀수)에 따라 적절한 실행 동작을 작성해 주세요.
if None : # 짝수인 경우
  print('짝')
else : # 홀수인 경우
  print('홀')

홀

## 실습. 업-다운 게임
토끼와 거북이가 업-다운 게임을 하고 있어요!

업다운 게임은 한 사람이 어떤 수를 생각하고, 다른 사람이 그 수를 알아맞히는 게임이에요. 알아맞히는 사람이 어떤 수를 말하면 숫자를 생각한 사람은 생각한 숫자보다 큰지 작은지 답변해야 해요.

if-elif-else문을 이용해서 업-다운 게임을 만들어 봅시다.

submit이 answer보다 큰 경우, 작은 경우, 같은 경우에 각각 주어진 메시지를 출력해 보세요.

In [ ]:
from random import randint

# 1~100 사이의 숫자가 랜덤으로 정답 숫자로 저장되요.
answer = randint(1, 100)

# input()으로 숫자를 입력 받아 변수 submit에 저장해 보세요.
submit = int(input())

# if-elif-else문으로 Up-Down Game을 구현해 보세요.
# 만약 answer보다 submit이 더 크면 "정답보다 큰 수를 입력했습니다."를,
# answer보다 submit이 더 작으면 "정답보다 작은 수를 입력했습니다."를,
# answer와 submit이 같으면 "정답!"을 출력해 보세요.

[학습활동]

문제 조건을 확인한 후 조건문 작성하기

조건1 : answer > submit
조건2 : answer < submit
조건3 : answer == submit
각 조건문 별 기능 작성하기

기능 작성 시, 콜론과 들여쓰기를 모두 잘 수행했는지 확인 필요
이 실습은 2가지 방법으로 조건문을 구상할 수 있습니다.

[방법1] if-elif-else 사용

[방법2] if-elif-elif 사용

📌 Tips

게임의 난이도를 조절하기 위해서는 4번째 줄의 숫자를 적절히 조절해 보세요.   

1에서 10 사이 숫자 선택 : randint(1, 10)   
5에서 10 사이 숫자 선택 : randint(5, 10)   
answer값과 submit값을 출력하여 업다운 게임의 결과가 적절한지 확인해 보세요.   

print("answer :", answer, "  submit :", submit)

## 실습. 내 용돈의 운명은?

이번 기말고사 시험성적에 따라 용돈의 운명이 바뀝니다. 엄마가 제시한 조건은 다음과 같습니다.

영어 90점 이상, 수학 90점 이상(두 조건 모두 만족) : 용돈 인상
영어 80점 이하, 수학 80점 이하(두 조건 모두 만족) : 용돈 삭감
기타 : 동결
수학성적과 영어성적을 담는 변수를 만들고, 점수에 따라 용돈의 운명을 출력하는 프로그램을 만들어 보세요.

In [39]:
# 영어 90점 이상, 수학 90점 이상: 용돈 인상
# 영어 80점 이하, 수학 80점 이하: 용돈 삭감

math_score = 80
eng_score = 100

if eng_score >= 90 and math_score >= 90:
    print("YAY! 용돈 인상")
elif eng_score <= 80 and math_score <= 80:
    print("용돈 삭감 ㅠㅠ")
else:
    print("동결")

동결

## 미션. 용돈 협상

엄마가 제시한 조건은 달성하기 너무 힘들 것 같습니다. 아래와 같이 협상하려고 합니다.

영어 90점 이상 또는 수학 90점 이상 : 용돈 인상
영어 80점 이하 또는 수학 80점 이하 : 용돈 삭감
기타 : 동결
수학성적과 영어성적을 담는 변수를 만들고, 점수에 따라 용돈의 운명을 출력하는 프로그램을 만들어 보세요.

In [ ]:
# 영어 90점 이상 또는 수학 90점 이상: 용돈 인상
# 영어 80점 이하 또는 수학 80점 이하: 용돈 삭감

math_score = 80
eng_score = 100

if eng_score >= 90 or math_score >= 90:
    print("YAY! 용돈 인상")
elif eng_score <= 80 or math_score <= 80:
    print("용돈 삭감 ㅠㅠ")
else:
    print("동결")

In [ ]:
#나의 협상 결과를 코딩해 보세요

# 반복문
1. 횟수로 반복하기 for

2. 조건으로 반복하기 while

## 횟수로 반복하기 for
반복이 시작되기 전에 반복할 횟수를 정한다.   
정해진 횟수만큼만 반복한다.

### 실습. 열 마리 코끼리가 거미줄에 걸렸네

코끼리들이 거미줄 그네를 타려고 줄을 서 있습니다!
무거운 코끼리들 모두 일일이 그네 태우려면 너무 힘들겠군요.   
for문을 이용하여 빠르게 그네를 태워보세요.

```
#정답
nums = [1,2,3,4,5,6,7,8,9,10]   
for i in nums:
    print(i,"번째 코끼리가 거미줄에 걸렸네♪")
```

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
for i in nums:
    print(i,"번째 코끼리가 거미줄에 걸렸네♪")

## 실습.  1문제 더
1학년 2반 학생들의 시험 성적은 다음과 같습니다.

[80, 90, 70, 65, 85, 95, 90, 80, 75, 80]

시험 문제 중, 한 문제가 잘못 출제되어 모두 5점씩 추가 점수를 받도록 조치를 취했습니다.    
변경 후 점수를 출력하세요.

```#정답 예시

scores = [80, 90, 70, 65, 85, 95, 90, 80, 75, 80]
new_scores = []

for s in scores:
    new = s + 5
    new_scores.append(new)

print(new_scores)
```

In [53]:
scores = [80, 90, 70, 65, 85, 95, 90, 80, 75, 80]
new_scores = []

# 모든 학생의 점수를 5점씩 늘려주세요

print(new_scores)

[]

## 리스트 컴프리헨션

리스트 속에서 if문과 for문이 결합한다


![image.png]()

In [ ]:
new_score2 = [s + 5 if s < 100 else s for s in scores ]
new_score2

## range로 만들기
일정한 범위의 정수들을 한번에 생성한다(규칙, 순서가 존재한다).

> range([from_value,] end_value [,step])

In [50]:
range(1,100)

range(1, 100)

In [ ]:
myran = range(1,100)
list(myran)

In [ ]:
for i in range(10) :
    print("We Love Python")

###실습. 100을 세는 동안 꼭꼭 숨어라
코더랜드 동물 친구들이 숨바꼭질하고 있네요. 술래가 된 체셔가 외칩니다.   
100까지 센 다음 찾는다~!   
꾀쟁이 체셔는 반복문을 이용해서 100까지 한 번에 다 세 버린 다음 동물 친구들이 미처 숨기도 전에 찾으러 갈 속셈입니다.
100까지 세는 반복문을 작성해 보세요.

```#정답
for i in range(1, 101):
    print(i)
```

In [ ]:
# 반복문을 이용하여 1부터 100까지 한 줄에 하나씩 출력하는 코드를 작성해 보세요.

## 조건으로 반복하기 while

조건이 참인 동안에는 계속해서 반복한다.   
반복되는 문장 안에서 반복문을 빠져나갈 수 있도록 조건을 변경할 수 있는 문장이 있어야 한다.

> while 반복문 : True인 동안 반복한다. (False가 되면 반복에서 벗어남)

In [54]:
while i<101:
  print(i)

NameError: ignored

In [ ]:
i = 0
while i<101:
  print(i)
  i=i+1

### 실습. 카운트 다운

어느덧 12/31일이 끝나갑니다. 새해를 맞이하며 다 같이 카운트 다운을 해봐요!
10, 9, 8, …, 1 연속된 숫자를 10부터 1까지 거꾸로 차례대로 출력하려면 어떻게 해야 할까요? while 문을 활용하여 코드를 작성해 보세요.

Tips.
i에서 1씩 빼면서 조건이 거짓이 될때까지 반복하도록 변수를 수정하는 명령을 작성해 보세요. (i = i - 1)

```
#정답 예시
i = 10

# while문을 사용해 10부터 1까지의 연속된 숫자를 거꾸로 출력하는 코드를 작성해 보세요.
while i > 0:
    print(i)
    i = i - 1
```

In [ ]:
i = 10

# while문을 사용해 10부터 1까지의 연속된 숫자를 거꾸로 출력하는 코드를 작성합니다.

10년 형에 처한다
이곳은 코딩 법정. 당신의 죄목은 파이썬 태만죄. 다른 일을 핑계로 파이썬을 소홀히 한 죄입니다. 파이썬의 창시자 귀도 반 로섬 판사님께서 당신에게 판결을 내리는군요!

익숙함에 속아 소중한 것을 잃어버리다니, 딱하다! 징역 10년 형에 처한다!

while문을 이용해서 10년 형을 살고, 새사람이 되어 나와봅시다! 아래와 같은 출력 결과가 나오도록 while문을 작성해 보세요.


이렇게 해봅시다!
출력 결과에서 반복되는 부분을 확인하고, while 문을 사용해 명령을 작성하세요.
조건이 변화하는 부분을 확인하고, 변수 i를 수정하는 명령을 작성해 보세요.
반복문이 종료된 후, “감옥에서 석방되었습니다!”를 출력해 보세요.

In [ ]:
#while을 이용해서 "i년째 수감 중입니다."를 출력해 보세요.
#while문이 종료된 후에는, "감옥에서 석방되었습니다!"를 출력해 보세요.
i = 1

while i > 10:
    print(i, "년째 수감 중입니다.")
    i += 1
print("감옥에서 석방되었습니다!")

## 반복문과 조건문

도도새의 적금 타기
도도새가 코더랜드 은행에 12개월 동안 매월 만 원씩 적금을 부었습니다. 코더랜드 은행에서 만든 적금 break 문을 따라서 써보면서 break 문의 작동 원리를 익혀 봅시다. 코드의 순서에 유의하며 따라서 써 보세요.

i = 1
while True :
    print(i, "월 만원을 입금했습니다.")
    if i == 12:
        print("입금 완료! 12만원을 수령하세요!")
        break
    i = i + 1
Copy

이렇게 해봅시다!
아래 질문의 답을 생각하면서 코드를 따라 적고 실행해 보세요.

작성한 코드는 어떤 작업을 하는 코드인가요?
while 문의 조건에 True가 들어갔습니다. 이는 어떤 의미일까요?
i = i + 1을 해준 이유는?
print(i)와 if문(4~6번째 줄)의 위치를 바꾸면 어떻게 될까요? 바꿔보고 실행 결과가 어떻게 달라지는지 확인해 보세요.
break는 실행되는 즉시 반복문을 탈출하기 때문에, 보통 조건문과 함께 사용됩니다.
들여쓰기에 주의하세요! 들여쓰기를 어떻게 하느냐에 따라 실행 결과가 달라질 수 있어요.

In [ ]:
i = 1
while True :
    print(i, "월 만원을 입금했습니다.")
    if i == 12:
        print("입금 완료! 12만원을 수령하세요!")
        break
    i = i + 1

##실습. 위기탈출 넘버원 break
도도새가 1부터 10까지 더하고 출력하는 코딩 실습을 하고 있습니다.

앗! 그런데 큰일 났어요! [실행] 버튼을 누르는 순간 의도치 않게도 수없이 많은 코드가 멈추지 않고 계속 출력되고 있네요!

하지만 괜찮아요. 우리의 소중한 코드를 무한루프로부터 지켜주는 break가 있으니까요!

도도새가 쓴 코드를 보고 코드의 잘못된 부분을 찾아 고쳐 주세요!

```
#정답  예시
# 다음은 while True:를 이용하여 도도새가 짠 코드입니다.
i = 1
ans = 0
while True:
    ans = ans + i
    i+=1
    if i>10:
        break


print(ans)
# 위 코드에서 잘못된 점을 찾아서 고쳐줍시다!
# 단, while True: 부분은 수정하면 안됩니다.
```

In [ ]:
# 다음은 while True:를 이용하여 도도새가 짠 코드입니다.
i = 1
ans = 0
while True:
    ans = ans + i


print(ans)
# 위 코드에서 잘못된 점을 찾아서 고쳐 주세요!
# 단, while True: 부분은 수정하면 안됩니다.