## 1. 라이브러리 불러오기

In [ ]:
# 1) 라이브러리 불러오기
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## 2. 데이터 불러오기

In [ ]:
# 2) bank.csv 데이터 불러오기

## 3. 데이터 검토하기

In [ ]:
# 1) 결측치 확인

In [ ]:
# 2) 결측치 제거

In [ ]:
# 3) 결측치 제거 후 인덱스 리셋

In [ ]:
# 결측치(누락된 값) 확인

In [ ]:
# 4) 결측치에 특정 값 채우기(0으로 채우기)

In [ ]:
new_bank.isnull()

In [ ]:
# 5) 결측 데이터의 개수

In [ ]:
# 6) 데이터프레임 타입 확인

In [ ]:
# 7) 원하는 변수(컬럼) 데이터 타입 바꾸기

In [ ]:
# 8) 데이터 앞부분 출력

In [ ]:
# 9) 데이터 뒷부분 출력

In [ ]:
# 10) 데이터 전체 행, 열 개수 출력

In [ ]:
# 11) 변수(열, columns) 속성 파악

In [ ]:
# 12) 요약 통계량 구하기

## 4. 변수명(컬럼) 바꾸기

In [ ]:
# 1) 변수(컬럼) 이름 변경

## 5. 데이터 분석하기

### 과제 1. 서울시 금융기관별 지점수는?

In [ ]:
# 한글 폰트 설정
plt.rc('font', family='Malgun Gothic') 
plt.rc('xtick', labelsize=8)  # x축 눈금 폰트 크기

In [ ]:
# 1) 데이터 빈도표 구하기

In [ ]:
# 2) 막대 그래프로 빈도 표현하기 - 1

In [ ]:
# 3) 막대 그래프로 빈도 표현하기-2

In [ ]:
# 4) 은행별, 구별 지점수

### 과제 2. 서울시 은행의 구(동네)별 지점수 알아보기

In [ ]:
# 1) 서울시 은행의 구(동네)별 지점수 알아보기

In [ ]:
# 2) 서울시에 입력한 은행이 가장 많은 구(동네) 찾기(최댓값이 동일한 값이 있는 경우)

In [ ]:
result=filltered_df.groupby(['bank_name', '구별'])[['2022년']].count()
result

In [ ]:
max_count = result['2022년'].max()
max_count

In [ ]:
max_count_index = result[result['2022년'] == max_count].index.get_level_values('구별')
max_count_index

In [ ]:
print("서울시에 %s이(가) 가장 많은 구(동네) : %s"%(b_n, ', '.join(max_count_index)))

In [ ]:
# 3) 서울시에 입력한 은행이 가장 많은 구(동네) 찾기(최댓값이 중복되어도 1개만 찾음)

In [ ]:
print("서울시에 %s이(가) 가장 많은 구(동네) : %s"%(b_n, max_count_index[1]))

In [ ]:
result=filltered_df.groupby(['bank_name', '구별'])[['2022년']].count()
max_count_index = result['2022년'].idxmax()
max_count_index

In [ ]:
# 4) 서울시 입력한 은행의 구별 통계-1

In [ ]:
# 5) 서울시 입력한 은행의 구별 통계-2

### 과제 3. 서울시에서 2018년 ~ 2022년 사이 지점수가 가장 많이 줄어든 은행은?

In [ ]:
# 1) 2022년과 2018년 은행 지점수 차이

In [ ]:
# 2) 2018년 ~ 2022년 서울시 은행의 동별 지점수가 가장 많이 줄어든 은행 알아보기