<a href="https://colab.research.google.com/github/yleessam/start/blob/main/%EA%B8%B0%EC%B4%881.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3. 표준출력

In [ ]:
print('안녕하세요')
print('컴퓨터 공학과 홍길동입니다')
print('반갑습니다')

안녕하세요
컴퓨터 공학과 홍길동입니다
반갑습니다

In [ ]:
print('사과', 2, '개')
print(3, 6, 9)
print(7+8*9)
print('1 + 2', '=', 1 + 2)

사과 2 개
3 6 9
79
1 + 2 = 3

In [ ]:
print('pine', 'apple')
print('나는', 21,'살 입니다.')
print('나는', 20+1, '살 입니다.')

pine apple
나는 21 살 입니다.
나는 21 살 입니다.

In [ ]:
print('  *')
print(' ***')
print('*****')
print(' ***')
print('  *')

  *
 ***
*****
 ***
  *

In [1]:
a=[]
b=[1,2,3]
c=['python','is','useful']
d=[1,'수학', 2,'영어']
e=[[1,2],['수학','영어']]
b

[1, 2, 3]

#4. 표준입력

In [ ]:
input('당신의 이름은?')

당신의 이름은?하하

'하하'

In [ ]:
print("거울아 거울아~")
name = input("세상에서 누가 가장 예쁘니?")
print("세상에서 ", name, "가 제일 예쁩니다.")

거울아 거울아~
세상에서 누가 가장 예쁘니?바로너
세상에서  바로너 가 제일 예쁩니다.

## f 스트링 사용하기

In [ ]:
print("거울아 거울아~")
name = input("세상에서 누가 가장 예쁘니?")
print(f"세상에서 {name}가 제일 예쁩니다.")

거울아 거울아~
세상에서 누가 가장 예쁘니?발너
세상에서 발너가 제일 예쁩니다.

##생각해 보기

In [ ]:
r = input('반지름을 입력하세요 :')
#print('원의 둘레는', 2 * 3.14 * r, '입니다')
print('원의 둘레는', 2 * 3.14 * int(r), '입니다')

반지름을 입력하세요 :3
원의 둘레는 18.84 입니다

#3. 변수와 자료형

In [ ]:
n=100
print(n)
print(type(n))
print(id(n))

100
<class 'int'>
9796256

In [ ]:
a=b=1
print(a+b)

a,b=2,3
print(a, b)

2
2 3

In [ ]:
true = 3
true

3

In [ ]:
pi = 3.14159265
radius =5

result1 = 2*pi*radius
result2 = pi*radius*radius

print("원의둘레:",result1)
print("원의넓이:", result2)

원의둘레: 31.4159265
원의넓이: 78.53981625

## 실습. 간단계산기

In [ ]:
#실습. 계산기 프로그램
a = int(input("첫번째 수를 입력하세요"))
b = int(input("두번째 수를 입력하세요"))

print("a+b=", a+b)
print("a-b=",a-b)
print("a*b=",a*b)
print("a/b=",a/b)

첫번째 수를 입력하세요3
두번째 수를 입력하세요5
a+b= 8
a-b= -2
a*b= 15
a/b= 0.6

In [ ]:
#산술 연산자의 활용
a, b = 7, 4
print('a=',a, 'b=',b)

print(a,'+',b,'=',a+b)
print(a,'-',b,'=',a-b)
print(a,'*',b,'=',a*b)
print(a,'/',b,'=',a/b)
print(a,'**',b,'=',a**b)
print(a,'//',b,'=',a//b)
print(a,'%',b,'=',a%b)

a= 7 b= 4
7 + 4 = 11
7 - 4 = 3
7 * 4 = 28
7 / 4 = 1.75
7 ** 4 = 2401
7 // 4 = 1
7 % 4 = 3

## 실습. 연산자의 활용

In [ ]:
#실습
print('11711을 17로 나누었을 때')
print('몫:', 11711//17)
print('나머지:', 11711%17)

#3의 7제곱
print('----------------------------')
print('3의 7제곱은')
print(3**7)

#허리사이즈
print('----------------------------')
print('선택한 사이즈는')
print(round(33*2.54))

In [ ]:
#문자열
say = "\"Python is very easy.\" Elissa says."
print(say)

#여러줄 문자열
info = '''안녕하세요.
오늘 날씨는 아주 맑음입니다.
날씨만큼 좋은 하루 되세요.'''
print(info)

"Python is very easy." Elissa says.
안녕하세요.
오늘 날씨는 아주 맑음입니다.
날씨만큼 좋은 하루 되세요.

In [ ]:
start = '파이썬'
end = '시작하기'
print(start+end)

cnt=3

print(start*cnt)

파이썬시작하기
파이썬파이썬파이썬

In [ ]:
#출력 디자인하기
print(' '*2, '*')
print(' ', '*'*3)
print('*'*7)
print(' ', '*'*3)
print(' '*2, '*')

   *
  ***
*******
  ***
   *

In [ ]:
#문자열 분할
birth=input("생년월일을 입력하세요")

year = birth[0:4]
month = birth[4:6]
day = birth[6:]

print("당신이 태어난 날은 ", year,"년",month,"월", day, "일입니다")

In [ ]:
#문자열 분할 1
a = "오늘 날씨가 좋아요"
a.split()

['오늘', '날씨가', '좋아요']

In [ ]:
#문자열 합치기
a = "사과,배,바나나,딸기"
b = a.split(",")
print(b)
"-".join(b)

['사과', '배', '바나나', '딸기']

'사과-배-바나나-딸기'

## 실습. 문자열 연산

In [ ]:
#실습.  뚜루루가 몇번 들어 있을까?
#file = open("babyshark.txt", "r", encoding='UTF8')
txt = '''

'''

#txt = file.read()

searchStr = "뚜 루루"

print(txt.count(searchStr))
#file.close()

#5. 자료형 변환

In [ ]:
int(11+2.3)

13

In [ ]:
float(12*4)

48.0

In [ ]:
str(12.3+11)

'23.3'

In [ ]:
s='Hello World'
print(s)
print(repr(s))  #표현식 출력

Hello World
'Hello World'

## 타입에러 TypeError

In [ ]:
mystr='문자열'
mynum=123
mystr+mynum

TypeError: ignored

##변환 오류 ValueError

In [ ]:
int('안녕')

ValueError: ignored

In [ ]:
float('하이')

ValueError: ignored

In [ ]:
int('52.122')

ValueError: ignored

# 5. 복합자료형 - 리스트

In [ ]:
#리스트 생성
flowers = ['무궁화','장미',30,'개나리']

print(flowers[1])
print(flowers[2])

flowers[2]='진달래'
print(flowers)

장미
30
['무궁화', '장미', '진달래', '개나리']

In [ ]:
# 리스트 합치기(+)
flowers = ['무궁화','장미',30,'개나리']
foods = ['라면','빵',700]

store = flowers+foods
print(store)

# 리스트 반복하기(*)
list1 = [1,2,3]
list2 = list1*4
print(list2)

In [ ]:
#리스트에 진달래와 백합을 추가하기
flowers = ['무궁화','장미',30,'개나리']
print(flowers)

flowers.append('진달래')
print(flowers)

flowers.insert(1,'백합')
print(flowers)

['무궁화', '장미', 30, '개나리']
['무궁화', '장미', 30, '개나리', '진달래']
['무궁화', '백합', '장미', 30, '개나리', '진달래']

In [ ]:
#리스트에서 30 삭제하기
flowers = ['무궁화','장미',30,'개나리',30]
print(flowers)

flowers.remove(30)
print(flowers)

In [ ]:
#한개씩 빼기
flowers = ['무궁화','장미',30,'개나리',30]
print(flowers)
#지정해서 빼기
flowers.pop(3)
print(flowers)
#맨 끝에서 빼기
flowers.pop()
print(flowers)

['무궁화', '장미', 30, '개나리', 30]
['무궁화', '장미', 30, 30]
['무궁화', '장미', 30]

## 실습. 리스트 활용

In [ ]:
#실습
rapper = ['김하온','자이언티','기리보이','넉살','팔로알토']

print(rapper)

# 맨 뒤에 박재범을 추가하세요
rapper.append('박재범')
print(rapper)

#  자이언티 뒤에 사이먼도미닉을 추가하세요
rapper.insert(2, '사이먼도미닉')
print(rapper)

# 비와이, 제시 2개를 한 번에 추가하세요
rapper.extend(['비와이','제시'])
print(rapper)

# 팔로알토를 제거해주세요.
rapper.pop(5)
#del rapper[5]
print(rapper)

#리스트를 모두 제거하세요
rapper.clear()
print(rapper)

#6. 복합자료형 - 딕셔너리

In [ ]:
dict_1 = {'이름': '홍길동', '나이' : 20, '전화번호' : '01012345678', '직업': '학생', '취미': ['자전거타기', '산책']}
dict_1

{'이름': '홍길동',
 '나이': 20,
 '전화번호': '01012345678',
 '직업': '학생',
 '취미': ['자전거타기', '산책']}

In [ ]:
#추출 오류 처리 1
dict_1['특기']

KeyError: ignored

In [ ]:
#추출 오류 처리 2
print(dict_1.get('특기'))
print(dict_1.get('특기','없는 데이터'))

None
없는 데이터

In [ ]:
#존재 유무 체크
print('특기' in dict_1)

print('취미' in dict_1)

False
True

In [ ]:
#새로운 키 추가하기

if '특기' in dict_1 :
  print(dict_1['특기'])
else:
  dict_1['특기'] =  input('특기를 입력하세요')

print(dict_1['특기'])

특기를 입력하세요달리기
달리기

In [ ]:
#항목 삭제하기
dict_2={'홍길동' : 90,
'강길동' : 80,
'정길동' : 100}
del (dict_2['강길동'])
dict_2

{'홍길동': 90, '정길동': 100}

In [ ]:
#항목 삭제하기 2
score = dict_2.pop('홍길동')
print(dict_2)
print(score)

{'정길동': 100}
90

In [ ]:
#전부 지우기
dict_2.clear()
dict_2

{}

In [ ]:
#딕셔너리 다루기 - 키, 밸류

dict_2.keys()

dict_keys(['홍길동', '강길동', '정길동'])
dict_values([90, 80, 100])

#9. 반복문 - 횟수 반복

In [ ]:
#range() 연속된 숫자 로 반복
for i in range(5):
    print(i)
    print('Hello')
    print('Python')
print('end of for')

In [ ]:
#문자열로 반복하기

for i in 'Hello':
  print(i)

H
e
l
l
o

In [ ]:
#리스트 만큼 반복하기

colors = ['빨강색', '파랑색', '노랑색', '검정색', '초록색']

for color in colors:
    print(f'나는 {color}을 가장 좋아합니다')

나는 빨강색을 가장 좋아합니다
나는 파랑색을 가장 좋아합니다
나는 노랑색을 가장 좋아합니다
나는 검정색을 가장 좋아합니다
나는 초록색을 가장 좋아합니다

In [ ]:
#range() 시퀀스 규칙을 지정해서 반복하기
sum = 0
for i in range(1,101):
    sum += i

print(f'1부터 100까지의 합은 {sum}입니다')

#시퀀스 규칙대로 반복하기
sum=0
for i in range(2,101, 2):
    sum += i

print(f'1부터 100까지 짝수의 합은 {sum}입니다')

##실습. 합계 계산기

In [ ]:
#실습. 합계 계산기
sum = 0
for i in range(3):
    num = int(input('정수를 입력하세요: '))
    sum += num

print(f'입력받은 정수의 합은 {sum}입니다')

##실습. 구구단을 외자

In [ ]:
#실습. 구구단을 외자
dan = int(input('몇 단을 입력할까요? '))
for i in range(1,10):
  print(f' {dan} x {i} = {dan*i}')

몇 단을 입력할까요? 3
 3 x 1 = 3
 3 x 2 = 6
 3 x 3 = 9
 3 x 4 = 12
 3 x 5 = 15
 3 x 6 = 18
 3 x 7 = 21
 3 x 8 = 24
 3 x 9 = 27

In [ ]:
#구구단 - 2~9단까지 한번에 출력하기
#2x1 = 2   3x1 = 3   4x1= 4 ...

for j in range(1,10):
  for i in range(2,10):
    print(f' {i} x {j} = {i*j:2d}', end='\t')
  print('')

 2 x 1 =  2	 3 x 1 =  3	 4 x 1 =  4	 5 x 1 =  5	 6 x 1 =  6	 7 x 1 =  7	 8 x 1 =  8	 9 x 1 =  9
 2 x 2 =  4	 3 x 2 =  6	 4 x 2 =  8	 5 x 2 = 10	 6 x 2 = 12	 7 x 2 = 14	 8 x 2 = 16	 9 x 2 = 18
 2 x 3 =  6	 3 x 3 =  9	 4 x 3 = 12	 5 x 3 = 15	 6 x 3 = 18	 7 x 3 = 21	 8 x 3 = 24	 9 x 3 = 27
 2 x 4 =  8	 3 x 4 = 12	 4 x 4 = 16	 5 x 4 = 20	 6 x 4 = 24	 7 x 4 = 28	 8 x 4 = 32	 9 x 4 = 36
 2 x 5 = 10	 3 x 5 = 15	 4 x 5 = 20	 5 x 5 = 25	 6 x 5 = 30	 7 x 5 = 35	 8 x 5 = 40	 9 x 5 = 45
 2 x 6 = 12	 3 x 6 = 18	 4 x 6 = 24	 5 x 6 = 30	 6 x 6 = 36	 7 x 6 = 42	 8 x 6 = 48	 9 x 6 = 54
 2 x 7 = 14	 3 x 7 = 21	 4 x 7 = 28	 5 x 7 = 35	 6 x 7 = 42	 7 x 7 = 49	 8 x 7 = 56	 9 x 7 = 63
 2 x 8 = 16	 3 x 8 = 24	 4 x 8 = 32	 5 x 8 = 40	 6 x 8 = 48	 7 x 8 = 56	 8 x 8 = 64	 9 x 8 = 72
 2 x 9 = 18	 3 x 9 = 27	 4 x 9 = 36	 5 x 9 = 45	 6 x 9 = 54	 7 x 9 = 63	 8 x 9 = 72	 9 x 9 = 81

## 실습. 영단어 암기장

In [ ]:
#영단어  딕셔너리
dict_voc = {}

while True:
    #단어 입력받기
    eng=input('영어단어 : ')
    if eng == '':
        break
    kor = input('뜻(한글) : ')

    #딕셔너리에 추가하기
    dict_voc[eng] = kor

#딕셔너리 출력
print(dict_voc)

score = 0
#단어장 퀴즈
for english in dict_voc.keys():
    #뜻(한글) 입력받기
    korean = input(english+'-> ')

    #비교해서  맞추면 score에 더하기
    if korean == dict_voc[english]:
        score += 1

#점수출력
print(f'맞은 갯수는 {score} / 전체 문제수는 {len(dict_voc)}')

영어단어 : monday
뜻(한글) : 월요일
영어단어 : tuesday
뜻(한글) : 화요일
영어단어 : wendsday
뜻(한글) : 수요일
영어단어 :
{'monday': '월요일', 'tuesday': '화요일', 'wendsday': '수요일'}
monday-> 월요일
tuesday-> 화요일
wendsday->
맞은 갯수는 2 / 전체 문제수는 3

#10. 반복문 - 조건 지정 반복

In [ ]:
#조건에 만족할 때까지 반복
boolValue = True
count = 0

while boolValue:
    print(count)
    count += 1
    if count == 10:
        boolValue = False

0
1
2
3
4
5
6
7
8
9

In [ ]:
#변수를 기반으로 반복 - for문처럼 반복하기

i = 0
while i < 10:
    print(f'{i}번째 반복입니다')
    i += 1

0번째 반복입니다
1번째 반복입니다
2번째 반복입니다
3번째 반복입니다
4번째 반복입니다
5번째 반복입니다
6번째 반복입니다
7번째 반복입니다
8번째 반복입니다
9번째 반복입니다

In [ ]:
#리스트 다루기
animals = ['사자', '호랑이', '사슴', '곰']
i = 0
while i<len(animals):
    print(i, animals[i])
    i += 1

0 사자
1 호랑이
2 사슴
3 곰

In [ ]:
n = [1,2,3,4,5]

print(f'list: {n[0]}, {n[1]}, {n[2]}')

for v in n:
    print(f'list with for : {v}')

#range()로 리스트 만들기
n1 = range(5)
print(f'list: {n1[0]}, {n1[1]}, {n1[2]}')

for v in n1:
    print(f'list n1 with for : {v}')

list: 1, 2, 3
list with for : 1
list with for : 2
list with for : 3
list with for : 4
list with for : 5
list: 0, 1, 2
list n1 with for : 0
list n1 with for : 1
list n1 with for : 2
list n1 with for : 3
list n1 with for : 4

In [ ]:
#종료조건이 들어오면 끝내기
name = ''

while name != 'q':
    name = input('이름 : ')

In [ ]:
#조건에 맞는 경우만 반복하기

list_test = [1,2,3,2,4,3,5,3,6,4,2,9]

value = 2

while value in list_test:
    list_test.remove(value)

print(list_test)

[1, 3, 4, 3, 5, 3, 6, 4, 9]

#11. 반복문 - 벗어나기

In [ ]:
#반복에서 벗어나기- break
sum = 0

for i in range(1,11,1):
    print(f'{i}번 반복했습니다')
    sum += i
    if i == 5:
        break

print(f'총 합계는 {sum}입니다')

1번 반복했습니다
2번 반복했습니다
3번 반복했습니다
4번 반복했습니다
5번 반복했습니다
총 합계는 15입니다

In [ ]:
#건너뛰기
sum=0
for i in range(1, 11, 1):
    if i == 3:
        continue
    print(i)
    sum+=i

print(f'합계: {sum}')

1
2
4
5
6
7
8
9
10
합계: 52

##실습. Y/N로 프로그램 종료하기

In [ ]:
#조건에 맞으면 반복 중단
i = 0

while True:
    print(f'{i}번째 반복문입니다')
    i += 1

    input_text = input(' > 종료하시겠습니까(y/n)?')

    if input_text in ['Y', 'y']:
        print('반복을 종료합니다')
        break

##실습. 성적계산기

In [ ]:
#실습 : 리스트를 활용한 성적 계산기
scores = []
s = 0
sum = 0
while s != -1 :
    s = int(input('성적을 입력하세요(-1을 입력하면 종료) : '))
    if s == -1:
        break
    sum +=s
    scores.append(s)
print(f'합계 :{sum}, 평균 : {sum/len(scores)}')

# 12. 선택 구조 - 단순조건문

In [ ]:
number = int(input('정수입력 :'))

#양수 조건
if number>0:
  print('양수입니다')

#음수 조건
if number 〈0:
  print('음수입니다')
#0인 조건
if number == 0:
  print('0 입니다')

정수입력 :22

In [ ]:
number = int(input('정수입력 : '))

if number % 2 == 0:
  print('짝수입니다')

if number % 2 == 1:
  print('홀수입니다')

정수입력 : 33

In [ ]:
#if~else~

number = int(input('정수입력 : '))

if number % 2 == 0:
  print('짝수입니다')

else:
  print('홀수입니다')

In [ ]:
score = int(input('성적을 입력하세요 : '))

if score >= 90:
  print('A')
if score >= 80:
  print('B')
if score >= 70:
  print('C')
else:
  print('D')

성적을 입력하세요 : 50
D

In [ ]:
#중첩조건문
score = int(input('성적을 입력하세요 : '))

if score >= 90:
  print('A')
else:
  if score >= 80:
    print('B')
  else:
    if score >= 70:
      print('C')
    else:
      print('D')

성적을 입력하세요 : 50
D

#13. 선택 구조 - 복합구조문

In [ ]:
#복합구조문 elif

score = int(input('성적을 입력하세요 : '))

if score >= 90:
  print('A')
elif score >= 80:
  print('B')
elif score >= 70:
  print('C')
else:
  print('D')

## 실습. 입장료계산기

In [ ]:
#입장료 계산

age = int(input('나이를 입력하세요 : '))

fee = 3000

#65세이상, 7세 미만은 0원
#8~18세 1000원
#19~64세 3000원

if age >= 65 or age <= 7 :
  fee = 0
elif age <= 18 and age >= 8:
  fee = 1000


print(f'입장료는 {fee}원입니다')

나이를 입력하세요 : 8
입장료는 1000원입니다

##실습. 업앤다운 게임

In [ ]:
#업앤다운 게임

import random
answer = random.randint(1,51)
count = 0
boolean = True

print(answer)

while boolean :
  in_data = int(input('1~50사이의 숫자를 입력하세요 : '))

  if in_data > answer :
    print('더 작은 수 입니다')
  elif in_data < answer :
    print('더 큰 수 입니다')
  elif in_data == answer :
    print('정답입니다')
    boolean = False

32
1~50사이의 숫자를 입력하세요 : 50
더 작은 수 입니다
1~50사이의 숫자를 입력하세요 : 25
더 큰 수 입니다
1~50사이의 숫자를 입력하세요 : 40
더 작은 수 입니다
1~50사이의 숫자를 입력하세요 : 30
더 큰 수 입니다
1~50사이의 숫자를 입력하세요 : 35
더 작은 수 입니다
1~50사이의 숫자를 입력하세요 : 33
더 작은 수 입니다
1~50사이의 숫자를 입력하세요 : 32
정답입니다

In [ ]:
#업앤다운 게임 - 확장

import random
answer = random.randint(1,50)
count = 0
boolean = True

while boolean :
  in_data = int(input('1~50 사이의 숫자를 입력하세요: ')
  count += 1
  if count >= 5:
    print('정답을 맞출 수 있는 횟수를 초과하였습니다')
  break
  if in_data > answer :
    print('더 작은 수 입니다')
  elif in_data < answer :
    print('더 큰 수 입니다')
  elif in_data == answer :
    print(f'정답입니다, {count}번만에 맞췄습니다')
  boolean = False

# 터틀을 이용한 알고리즘 구현

[링크 텍스트](https://colab.research.google.com/drive/11iV5lxxbxHTiSrwLwkbUitBebefDVhSY#scrollTo=Fu7yJ9BQP8Io&uniqifier=1)